@font-face
  font-family: "Circe"
  src: url("/fonts/" + "Circe-Regular.otf") format("opentype")
  font-style: normal
  font-weight: 400

@font-face
  font-family: "Circe"
  src: url("/fonts/" + "Circe-Bold.otf") format("opentype")
  font-style: normal
  font-weight: 700

@font-face
  font-family: "Circe"
  src: url("/fonts/" + "Circe-ExtraBold.otf") format("opentype")
  font-style: normal
  font-weight: 800

@font-face
  font-family: 'Sitka Banner'
  src: url("/fonts/" + "Sitka-Banner.woff2") format("woff2")
  font-style: normal
  font-weight: 400

@font-face
  font-family: "Monotype Corsiva"
  src: url("/fonts/" + "Monotype-Corsiva.ttf") format("truetype")
  font-style: normal
  font-weight: 400

@font-face
  font-family: "Lucida Calligraphy"
  src: url("/fonts/" + "Lucida-Calligraphy-Regular.ttf") format("truetype")
  font-style: normal
  font-weight: 400