@font-face
  font-family: "Caveat"
  src: url("/fonts/" + "Caveat-Regular.ttf") format("truetype")
  font-style: normal
  font-weight: 400

@font-face
  font-family: "Caveat"
  src: url("/fonts/" + "Caveat-Medium.ttf") format("truetype")
  font-style: normal
  font-weight: 500

@font-face
  font-family: "Caveat"
  src: url("/fonts/" + "Caveat-SemiBold.ttf") format("truetype")
  font-style: normal
  font-weight: 600

@font-face
  font-family: "Caveat"
  src: url("/fonts/" + "Caveat-Bold.ttf") format("truetype")
  font-style: normal
  font-weight: 700

@font-face
  font-family: "Circe"
  src: url("/fonts/" + "Circe-Regular.otf") format("opentype")
  font-style: normal
  font-weight: 400

@font-face
  font-family: "Circe"
  src: url("/fonts/" + "Circe-Bold.otf") format("opentype")
  font-style: normal
  font-weight: 700

@font-face
  font-family: "Circe"
  src: url("/fonts/" + "Circe-ExtraBold.otf") format("opentype")
  font-style: normal
  font-weight: 800

@font-face
  font-family: "Gabriola"
  src: url("/fonts/" + "Gabriola-Regular.ttf") format("truetype")
  font-style: normal
  font-weight: 400

@font-face
  font-family: "Lucida Calligraphy"
  src: url("/fonts/" + "Lucida-Calligraphy-Regular.ttf") format("truetype")
  font-style: normal
  font-weight: 400