extends /layout

append variables
  - var category = 'Услуги'
  - var title = 'Развлечения'
  - var subtitle = 'Катайтесь на багги, мотоцикле, снегоходе, велосипедах, ретроавтомобиле ГАЗ М-72, рыбачьте в пруду, гуляйте по лесу, познакомьтесь с щенками из ретривер-клуба, изучайте животный мир окружающей вас природы.'
  - var path = {};

block body
  include /main
  include /services
  include /dogs
  include /animals
  include /about
  include /contact