extends /layout

append variables
  - var category = 'Раздел'
  - var title = 'О заводе'
  - var path = {};

block body
  include /main
  section.description
    .wrapper
      .max-width
        .overtitle Информация
        h2 История
        p Карпинский рудоремонтный завод был организован по приказу наркома угольной промышленности Вахрушева В.В. в 1943 году на базе центральных мастерских треста «Богословскуголь». Основной задачей, поставленной перед предприятием, было обеспечение работоспособности экскаваторного и бурового парка трестов «Богословскуголь» и «Волчанскуголь».
        p ООО «Завод горного машиностроения» осуществляет модернизацию производственных процессов и дальнейшее развитие предприятия.
        p Основным направлением деятельности является изготовление металлоконструкций, мелющих шаров, запасных частей для горнодобывающего оборудования, продукции для нефтегазовой промышленности, трубошпунта, свай и механическая обработка металла.