extends /layout

append variables
  - var category = 'Раздел'
  - var title = 'Оплата'
  - var path = {};

block body
  section.info.grey
    .wrapper
      .max-width
        .overtitle Сервис
        h2 Онлайн-оплата
      .block.pay
        .max-width
          p Введите сумму для оплаты, а также ваше ФИО и номер телефона. После заполнения формы произойдёт переход в платежный шлюз Альфа Банка. Выберите удобный способ оплаты и завершите покупку. 
        iframe(src='https://alfa.rbsuat.com/ab/shortlink/QT7ajAJB' frameborder=0)