section.advantages
  // +large
    height: 100vh
    min-height: 600px

  .wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    // padding-bottom: 0

    // &::before
      +outer-offset(margin-bottom)
      height: 100px
      width: 1px
      content: ''
      background-color: $borderGrey

  .max-width
    margin: auto
    text-align: center

  .subtitle .link
    border-bottom: 1px solid transparentize($black, .7)
    // color: $primaryColor

  .mobile
    display: block
    width: calc(100% + 40px)

    +medium
      display: none

    .item
      overflow: hidden
      border-radius: $borderRadius
      height: 100%

      img
        height: 260px
        object-fit: cover

      .text
        display: flex
        justify-content: center
        align-items: center
        +outer-offset(padding)
        height: calc(100% - 260px)
        text-align: center
        background-color: $backgroundWhite

    .owl-item
      transition: .3s
      
      &:not(.center)
        opacity: .3
        transform: scale(0.8)

      &.center
        z-index: 10
        // transform: scale(1.3)

    .owl-dots span
      margin: 5px
      border-radius: 0
      height: 2px
      width: 20px

  .desktop
    display: none

    +medium
      display: block
      width: 100%

    +large
      width: 75%

    .item
      display: flex
      overflow: hidden
      border: 2px solid $borderGrey
      border-radius: $borderRadius
      height: 300px

      +small
        height: 400px

      +medium
        // height: 500px

      img
        object-fit: cover
        width: calc(100% - 200px)

        +small
          width: calc(100% - 300px)

        +large
          width: calc(100% - 400px)

      .text
        display: flex
        flex-direction: column
        justify-content: flex-end
        +outer-offset(padding)
        width: 200px
        background-color: $backgroundWhite

        +small
          width: 300px

        +large
          width: 400px

    .thumbnails
      display: flex

      a
        display: inline-block
        overflow: hidden
        border-radius: $borderRadius
        height: 100%
        transition: box-shadow .3s

        &:focus, &:active
          box-shadow: 0 0 0 3px $primaryColor

        img
          height: 100%
          object-fit: cover
          transition: transform .3s

          &:hover
            transform: scale(1.05)
