.advantages
  background-color: $backgroundLightGrey

  .max-width
    margin: auto
    text-align: center

  h2
    display: flex
    flex-direction: column
    align-items: center

  .advantage
    display: flex
    align-items: flex-start
    +outer-offset(margin-bottom)

    img
      +outer-offset(margin-right)
      height: 80px
      width: 80px

    p
      margin-bottom: 0
    