section.advantages
  // +large
    height: 100vh
    min-height: 600px

  .wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding-bottom: 0

    &::before
      +outer-offset(margin-bottom)
      height: 100px
      width: 1px
      content: ''
      background-color: $borderGrey

  .max-width
    margin: auto
    text-align: center

  .subtitle .link
    border-bottom: 1px solid transparentize($black, .7)
    // color: $primaryColor

  .item
    display: flex
    overflow: hidden
    border: 2px solid $borderGrey
    border-radius: $borderRadius
    height: 300px

    +small
      height: 400px

    +medium
      height: 500px

    img
      object-fit: cover
      width: calc(100% - 200px)

      +small
        width: calc(100% - 300px)

      +medium
        width: calc(100% - 400px)

    .text
      display: flex
      flex-direction: column
      justify-content: flex-end
      +outer-offset(padding)
      width: 200px
      background-color: $backgroundWhite

      +small
        width: 300px

      +medium
        width: 400px

  .block
    display: flex
    overflow: hidden
    margin-bottom: 0
    border-radius: $borderRadius
    padding: 0

    .item
      position: relative
      height: 100%

    img
      height: 100%
      object-fit: cover

    .text
      position: absolute
      width: 100%
      bottom: 0
      +outer-offset(padding)
      padding-top: 50px
      color: $white
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0,0,0,0))

  .thumbnails
    display: flex

    a
      display: inline-block
      overflow: hidden
      border-radius: $borderRadius
      height: 100%
      transition: box-shadow .3s

      &:focus, &:active
        box-shadow: 0 0 0 3px $primaryColor

      img
        height: 100%
        object-fit: cover
        transition: transform .3s

        &:hover
          transform: scale(1.05)
