section.animals
  // background-color: $backgroundLightGrey

  .max-width
    display: flex
    flex-direction: column
    align-items: center
    margin: auto
    text-align: center

  h2
    display: flex
    flex-direction: column
    align-items: center

  .subtitle
    +inner-offset(margin-bottom)
    text-align: center

  p:last-child
    +outer-offset(margin-bottom)

  .block
    overflow: hidden
    position: relative
    padding: 0
    height: 300px
    width: 100%

  img
    position: absolute
    height: 100%
    width: 100%
    object-fit: cover

  .caption
    position: absolute
    width: 100%
    bottom: 0
    padding: 20px
    font-weight: bold
    color: white
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent)