section.contact
  // border: 2px solid $borderGrey
  border-radius: $borderRadius
  // background-color: $backgroundLightGrey

  .wrapper
    display: flex
    flex-direction: column
    justify-content: center
    // padding-top: 0
    // padding-bottom: 0

    // &::before
      align-self: center
      +outer-offset(margin-bottom)
      height: 100px
      width: 1px
      content: ''
      background-color: $borderGrey

  .block
    margin-bottom: 0
    border: 2px solid $borderGrey
    background-color: $backgroundLightGrey

  .max-width
    margin: auto
    text-align: center

  h2
    display: flex
    flex-direction: column
    align-items: center

  .buttons
    display: flex
    flex-wrap: wrap
    justify-content: center
    +inner-offset(margin-bottom, gap)
    
  .phone
    line-height: 1
    font-weight: bold
    color: $black
