section.contact
  // border: 2px solid $borderGrey
  border-radius: $borderRadius
  background: $backgroundLightGrey

  .max-width
    margin: auto
    text-align: center

  h2
    display: flex
    flex-direction: column
    align-items: center

  .buttons
    display: flex
    flex-wrap: wrap
    justify-content: center
    +inner-offset(margin-bottom, gap)
    
  .phone
    line-height: 1
    font-weight: bold
    color: $black

  & + .info
    .max-width
      margin: auto
      text-align: center
      // background-color: $backgroundLightGrey

    iframe
      overflow: hidden
      border-radius: $borderRadius
