section.dogs
  border-radius: $borderRadius
  background-color: $backgroundLightGrey

  .wrapper
    padding-bottom: 0

  .max-width
    display: flex
    flex-direction: column
    align-items: center
    margin: auto

  // .columns
  //   margin: 0
  //   padding: 0
  
  //   & > *
  //     padding: 0
    
  h2
    display: flex
    flex-direction: column
    align-items: center

  .subtitle
    +outer-offset(margin-bottom)
    text-align: center

  .button-simple
    +outer-offset(margin-bottom)

  .dogs-carousel
    +outer-offset(margin-bottom)
    +negative-outer-offset(margin-left, margin-right)
    padding: 0 #{$outerOffset / 2}
    width: calc(100% + #{$outerOffset * 2})

    +medium
      padding: 0 #{$mediumOuterOffset / 2}
      width: calc(100% + #{$mediumOuterOffset * 2})

  .item
    overflow: hidden
    margin: 0 #{$outerOffset / 2}
    border-radius: $borderRadius
    height: 100%

    +medium
      margin: 0 #{$mediumOuterOffset / 2}

    img
      height: 260px
      object-fit: cover

    .text
      display: flex
      justify-content: center
      align-items: center
      +outer-offset(padding)
      height: calc(100% - 260px)
      text-align: center
      background-color: $backgroundWhite

  .columns
    justify-content: center

  .photo
    display: block
    overflow: hidden
    position: relative
    +outer-offset(margin-bottom)
    border-radius: $borderRadius
    padding-bottom: 100%

    img
      position: absolute
      height: 100%
      object-fit: cover
      transition: transform .3s

      &:hover
        transform: scale(1.05)

  .half .photo
    padding-bottom: 47.5%

    +medium
      padding-bottom: 46%
