section.main-menu
  .wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding-bottom: 0

    &::before
      +outer-offset(margin-bottom)
      height: 100px
      width: 1px
      content: ''
      background-color: $borderGrey

  .centered
    display: flex
    flex-direction: column
    align-items: center
    margin: auto
    text-align: center

    & > h2
      display: flex
      flex-direction: column
      align-items: center

  .columns > a
    +outer-offset(margin-bottom)
    text-align: center

  .image
    display: block
    overflow: hidden
    height: 280px
    +outer-offset(margin-bottom)
    border-radius: $borderRadius

    +medium
      height: 400px

    img
      height: 100%
      filter: grayscale(50%)
      object-fit: cover
      transition: filter .3s, transform .3s

  .button-arrow
    color: $black
    background-image: url("/images/icons/arrow-right.svg")

  .columns > a:hover
    .image img
      filter: none
      transform: scale(1.05)

  .desktop
    display: none

    +large
      display: block

  .mobile
    align-self: stretch
    +negative-outer-offset(margin-left, margin-right)

    +large
      display: none

    .owl-item
      +outer-offset(margin-left, margin-right)

    a
      display: block
      +outer-offset(margin-bottom)
      text-align: center