section.photos
  // background-color: $backgroundLightGrey

  .max-width
    margin: auto
    text-align: center

  .columns
    // overflow: hidden
    // margin: 0
    // border-radius: $borderRadius
    // padding: 0

    & > div
      // padding: 0

  .photo
    display: block
    overflow: hidden
    position: relative
    +outer-offset(margin-bottom)
    border: 1px solid $backgroundLightGrey
    border-radius: $borderRadius
    padding-bottom: 100%

  .col-8 .photo
    padding-bottom: 47.5%

  .col-md-3 .photo
    +medium
      padding-bottom: 100%

  .col-md-6 .photo
    +medium
      padding-bottom: 46%

  .half .photo
    padding-bottom: 47.5%

    +medium
      padding-bottom: 46%

  img
    position: absolute
    height: 100%
    object-fit: cover
    transition: transform .3s

    &:hover
      transform: scale(1.1)
