.photos
  background-color: $backgroundLightGrey

  .photos-container
    display: flex
    flex-wrap: wrap
    margin: 0 -2.5px
    +inner-offset(margin-bottom)

  .photo
    overflow: hidden
    border: 2.5px solid $white
    width: 1/6 * 100%

    +medium
      width: 1/8 * 100%

    +large
      width: 1/8 * 100%

  img
    margin-bottom: -7px
    transition: transform .3s

    &:hover
      transform: scale(1.1)

  .text
    display: none

  .button-area
    display: flex
    justify-content: center
    +outer-offset(margin-bottom)