section.services
  .block
    overflow: hidden
    position: relative
    padding: 0
    height: 300px
    width: 100%

    .icon
      position: absolute
      +outer-offset(top, left)
      border-radius: $borderRadius
      padding: 10px
      font-weight: bold
      color: $white
      background-color: $primaryColor

      img
        height: 40px
        width: 40px
        margin-bottom: -7px

    .image
      height: 100%
      object-fit: cover
      transition: transform .3s

    .overlay
      display: flex
      flex-direction: column
      justify-content: space-between
      position: absolute
      top: 0
      +outer-offset(padding)
      height: 100%
      width: 100%
      color: $white
      background-image: linear-gradient(to top, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0))
      background-color: rgba(0, 0, 0, 0)
      transition: background-color .3s

      .category
        display: inline-block
        align-self: flex-start
        border-radius: 5px
        padding: 0 10px
        color: $black
        background-color: $transparentWhite

      h3
        margin-bottom: 0
        color: $white

      .subtitle
        margin-top: 0
        margin-bottom: 0
        height: 0
        opacity: 0

    &:hover
      .image
        transform: scale(1.05)

      .overlay
        background-color: rgba(0, 0, 0, 0.3)

        .subtitle
          +inner-offset(margin-top)
          height: unset
          opacity: 1
          transition: opacity .3s
