section.slider
  position: relative
  overflow: hidden
  border-top-left-radius: $borderRadius
  border-top-right-radius: $borderRadius
  height: 400px
  color: #f1d4c2
  background-image: linear-gradient(to bottom, transparentize($backgroundBlack, .5), transparentize($backgroundBlack, .5))
  background-position: 50% 50%
  background-size: 150% 100%, cover

  +medium
    height: 600px

  +large
    height: calc(100vh)

  .background
    position: absolute
    height: 100%
    width: 100%
    z-index: -1

    .owl-carousel, .owl-stage-outer, .owl-stage
      height: 100%
      width: 100%

    .owl-item
      overflow: hidden

    img
      height: 100%
      object-fit: cover
      animation: zoomIn 15s infinite ease-in-out alternate


  .wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  h1
    max-width: $maxTextWidth
    line-height: 1.5
    text-align: center
    color: #f1d4c2

    span
      font-family: 'Lucida Calligraphy'
      font-weight: bold

  .subtitle
    max-width: $maxTextWidth
    font-family: 'Monotype Corsiva'
    font-size: $sliderSubtitleSize
    text-align: center
    color: #f1d4c2

    +small
      font-size: $smallSliderSubtitleSize

    +medium
      margin-bottom: 200px
      font-size: $mediumSliderSubtitleSize

    a
      border-bottom: 1px solid rgba(241, 212, 194, 0.7)
      transition: color .3s, border-color .3s

      &:hover
        color: $primaryColor
        border-color: $primaryColor

  ul
    li::before
      background-color: $primaryColor

      +small
        top: 12px

      +medium
        top: 15px
  
  .buttons
    display: flex
    flex-wrap: wrap

    > *
      +inner-offset(margin-bottom)

      &:not(:last-child)
        +outer-offset(margin-right)
  
  .leitmotif
    display: none
    position: absolute
    +outer-offset(right, bottom)
    font-family: 'Caveat'
    font-size: 16px
    animation: pulse 3s infinite

    +medium
      font-size: 24px

section.booking
  border-bottom-left-radius: $borderRadius
  border-bottom-right-radius: $borderRadius
  +outer-offset(padding-left, padding-right)
  background-color: $backgroundBlack

  @media (min-width: 992px)
    margin-top: -315px
    min-height: 315px
    background-color: unset

  @media (min-width: 1006px)
    margin-top: -165px
    min-height: 165px

  @media (min-width: 1136px)
    margin-top: -100px
    min-height: 100px

  .container
    overflow: hidden
    border-radius: $borderRadius

  .znms-widget__module-form-block
    padding: 0
    background: unset

    .znms-widget__module-form-block__title
      color: #f1d4c2

    .znms-widget__module-form-block__item
      border: 1px solid transparentize($borderGrey, .5)
      background: none

    .znms-widget__module-form-block__label,
    .znms-widget__module-form-block__input,
    .znms-widget__module-form-block__select,
    .znms-widget__module-form-block__select span
      color: #f1d4c2

  button[type="submit"]
    background-color: $primaryColor !important

.znms-widget__widget-btn
  display: none !important