section.territory
  .max-width
    margin: auto
    text-align: center

  h2
    // display: flex
    // flex-direction: column
    // align-items: center

  p:last-child
    +outer-offset(margin-bottom)

  .photos
    overflow: hidden
    margin: 0
    border-radius: $borderRadius
    padding: 0

    & > div
      padding: 0
  
  video
    display: block
    +outer-offset(margin-bottom)
    border-radius: $borderRadius
    width: 100%

  .columns
    justify-content: center

  .photo
    display: block
    overflow: hidden
    position: relative
    +outer-offset(margin-bottom)
    border-radius: $borderRadius
    padding-bottom: 100%

    img
      position: absolute
      height: 100%
      object-fit: cover
      transition: transform .3s

      &:hover
        transform: scale(1.05)

  .col-8 .photo
    padding-bottom: 47.5%

  .col-sm-3 .photo
    +small
      padding-bottom: 100%

  .col-sm-6 .photo
    +small
      padding-bottom: 47.5%

  .half .photo
    padding-bottom: 47.5%

    +medium
      padding-bottom: 46%