section.welcome
  // border-bottom: 1px solid $borderGrey

  // +large
    height: 100vh
    min-height: 600px

  .wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    &::before
      +outer-offset(margin-top, margin-bottom)
      height: 100px
      width: 1px
      content: ''
      background-color: $borderGrey

  .centered
    display: flex
    flex-direction: column
    justify-content: center
    min-height: 100%

  .block
    margin-bottom: 0
    border: 2px solid $borderGrey
    background-color: $backgroundLightGrey

  h2
    margin-left: auto
    margin-right: auto
    font-size: 20px
    text-align: center

    +small
      font-size: 24px

    +medium
      font-size: 30px

  .text-1, .text-2, .text-3
    font-size: 18px
    opacity: 0

  .text-1
    animation: fadeIn 1s ease-in-out forwards

  .text-2
    animation: fadeIn 1s ease-in-out 5s forwards

  .text-3
    animation: fadeIn 1s ease-in-out 10s forwards

  .images
    position: relative
    min-height: 220px

    +medium
      min-height: 320px

  .image-1, .image-2, .image-3
    opacity: 0

  .image-1
    animation: fadeInOut 15s ease-in-out both infinite

  .image-2
    animation: fadeInOut 15s ease-in-out 5s both infinite

  .image-3
    animation: fadeInOut 15s ease-in-out 10s both infinite

  .button-arrow
    +outer-offset(margin-bottom)
    color: $black
    background-image: url("/images/icons/arrow-right.svg")

    +large
      margin-bottom: 0

  img
    border-radius: $borderRadius
    object-fit: cover
