extends /layout

append variables
  - var category = 'Раздел'
  - var title = 'Контакты'
  - var path = {};

block body
  //- include /main
  section.info.grey
    .wrapper
      .overtitle Контакты
      h2 Как нас найти
      .block
        .columns
          .col-md-4
            .contact
              .label Адрес
              .text Московская область, Дмитровский городской округ, деревня Василёво, 38С
          .col-md-4
            a.contact(href='tel:+79258710937')
              .label Телефон
              .text +7 925 871-09-37
          .col-md-4
            a.contact(href='mailto:park-sever@inbox.ru')
              .label Email
              .text park-sever@inbox.ru
      iframe(src="https://yandex.ru/map-widget/v1/?ll=37.814914%2C56.456567&mode=search&oid=145451177721&ol=biz&z=16.9" frameborder=0)