extends /layout

append variables
  - var category = 'Раздел'
  - var title = 'Контакты'
  - var path = {};

block body
  include /main
  section.info
    .wrapper
      .overtitle Где мы находимся
      h2 Карта проезда
      iframe(src="https://yandex.ru/map-widget/v1/-/CCUIUCG6gA" frameborder=0)
  section.info.grey
    .wrapper
      .overtitle Информация
      h2 Контактные данные
      .block
        h3 ООО "Завод горного машиностроения"
        p
          | Телефон: +7 (343) 83 3-51-15
          | #[br]
          | E-mail: info@zgm96.ru
          | #[br]
          | Адрес: 624930, Свердловская область, город Карпинск, улица Карпинского, 3
        hr
        h3 Руководство
        p
          | Директор Абатуров Иван Константинович: +7 (950) 638-42-18
          | #[br]
          | Коммерческий директор Шестиперов Алексей Николаевич: +7 (908) 903-88-88
          | #[br]
          | Директор по производству Иванов Евгений Станиславович: +7 (953) 044-72-55
        hr
        h3 Коммерческий отдел
        p
          | Памятных Наталья Петровна: +7 (904) 543-72-84
          | #[br]
          | E-mail: pamyatnyh.np@zgm96.ru