extends /layout

append variables
  - var category = 'Раздел'
  - var title = 'Контакты'
  - var path = {};

block body
  //- include /main
  section.info.grey
    .wrapper
      .max-width
        .overtitle Контакты
        h2 Как нас найти
      .block
        .columns
          .col-md-4
            .contact
              .label Адрес
              .text Московская область, Дмитровский городской округ, деревня Василёво, 38С
          .col-md-4
            a.contact(href='tel:+79258710937')
              .label Телефон
              .text +7 925 871-09-37
          .col-md-4
            a.contact(href='mailto:park-sever@inbox.ru')
              .label Email
              .text park-sever@inbox.ru
          .col-md-8
            .contact
              .label Социальные сети
              .socials
                a.vk-icon(href='https://vk.com/park_sever')
                a.whatsapp-icon(href='https://wa.me/79258710937')
                a.tiktok-icon(href='https://tiktok.com/@park_sever')
                a.instagram-icon(href='https://www.instagram.com/parksever')
                a.telegram-icon(href='https://t.me/park_sever')
                a.youtube-icon(href='https://youtube.com/@ParkSever')
                a.rutube-icon(href='https://rutube.ru/channel/34216981/')
          .col-12
            iframe(src="https://yandex.ru/map-widget/v1/?ll=37.814914%2C56.456567&mode=search&oid=145451177721&ol=biz&z=16.9" frameborder=0)
      .block.road-schema
        .columns
          .col-md-7.centered
            h3 Схема проезда около деревни Василево
            .subtitle Через саму деревню Василево, как ведет навигатор, проезда нет. Перед первым домом (где стоит строительная техника) есть поворот налево — эта дорога ведет к нам. Далее, за деревней (когда объезжаете ее) дорога пролегает справа относительно поля, вдоль линии ЛЭП. Через овраг к нам проезда нет, необходимо держаться левее. Проезжая вдоль столбов ЛЭП вы упретесь в ворота — это начинается территория Парка Север, где Вас уже встретят.
          .col-md-5
            a.photo(data-fancybox href='/images/map.png')
              img(src="/images/map.png")
      .block.bank-details
        h3 Реквизиты
        table
          tr
            td Наименование
            td Индивидуальный предприниматель Дерюгин Павел Сергеевич
          tr
            td ИНН
            td 773170493306