section.about#about
  .wrapper
    .block
      .max-width.slideIn.each
        .overtitle О парке
        .subtitle «Парк Север» — это уютный уголок в Подмосковье, который идеально подходит как для семейного отдыха с детьми, так и для романтического уикенда со своей второй половиной.