section.about#about
  .wrapper
    .max-width.slideIn.each
      .overtitle О парке
      h2 Современный парк вдали от города
      .subtitle «Парк Север» — это тематический парк для развлечений и активного отдыха в 100 км от Москвы. Для гостей доступны улица в стиле дикого запада, стеклянные гостевые домики с управлением со смартфона, квадроциклы и багги в аренду, игры на открытом воздухе, термальный бассейн и многое другое.
      a.button-outline(href='/') Подробнее