section.about-animals#about-animals
  .wrapper
    .max-width.slideIn.each
      .overtitle Природа
      h2 Животный мир
      .subtitle Весь окружающий лес обладает обширным животным миром и при прогулке можно встретить самых разных животных — лося, кабана, косулю, барсука, зайца и других.
      a.button-simple(href='/about#animals') Подробнее
    .columns.slideIn.each
      .col-6.col-md-3
        a.photo(data-fancybox="animals" href='/images/animals/1.jpeg')
          img(src='/images/animals/1.jpeg')
      .col-6.col-md-3
        a.photo(data-fancybox="animals" href='/images/animals/2.jpeg')
          img(src='/images/animals/2.jpeg')
      .col-6.col-md-3
        a.photo(data-fancybox="animals" href='/images/animals/3.jpeg')
          img(src='/images/animals/3.jpeg')
      .col-6.col-md-3
        a.photo(data-fancybox="animals" href='/images/animals/4.jpeg')
          img(src='/images/animals/4.jpeg')
      .col-6.col-md-3
        a.photo(data-fancybox="animals" href='/images/animals/5.jpeg')
          img(src='/images/animals/5.jpeg')
      .col-6.col-md-3
        a.photo(data-fancybox="animals" href='/images/animals/6.jpeg')
          img(src='/images/animals/6.jpeg')
      .col-6.col-md-3
        a.photo(data-fancybox="animals" href='/images/animals/7.jpeg')
          img(src='/images/animals/7.jpeg')
      .col-6.col-md-3
        a.photo(data-fancybox="animals" href='/images/animals/9.jpeg')
          img(src='/images/animals/9.jpeg')