section.accommodation#accommodation
  .wrapper
    .overtitle Где переночевать
    h2 Проживание
    .subtitle.max-width Для гостей парка доступен стеклянный гостевой домик, которым можно управлять прямо со смартфона — открывать ворота, отпирать входную дверь, включать и выключать свет, регулировать температуру помещения и многое другое.
    .block
      .columns
        .col-md-5.col-lg-4
          .image
            img(src='/images/accommodation/house-one.jpg')
        .col-md-7.col-lg-8
          .content
            h3 Скандинавский домик
            p Домик в хвойном лесу, который выполнен в скандинавском стиле и имеет панорамное остекление. Рассчитан на проживание от 2 до 6 человек. Содержит все необходимые удобства:
            ul
              li санузел с ванной и туалетом;
              li гостиная с диваном и камином;
              li управление всей техникой со смартфона.
            .buttons
              a.button-simple(href='') Забронировать
              .price 14 900 ₽ / ночь
    .block
      .columns
        .col-md-5.col-lg-4
          .image
            img(src='/images/accommodation/house-two.jpg')
        .col-md-7.col-lg-8
          .content
            h3 Норвежский домик
            p Домик в хвойном лесу, который выполнен в скандинавском стиле и имеет панорамное остекление. Рассчитан на проживание от 2 до 6 человек. Содержит все необходимые удобства:
            ul
              li санузел с ванной и туалетом;
              li гостиная с диваном и камином;
              li управление всей техникой со смартфона.
            .buttons
              a.button-simple(href='') Забронировать
              .price 14 900 ₽ / ночь
    .block
      .columns
        .col-md-5.col-lg-4
          .image
            img(src='/images/accommodation/house-three.jpg')
        .col-md-7.col-lg-8
          .content
            h3 Финский домик
            p Домик в хвойном лесу, который выполнен в скандинавском стиле и имеет панорамное остекление. Рассчитан на проживание от 2 до 6 человек. Содержит все необходимые удобства:
            ul
              li санузел с ванной и туалетом;
              li гостиная с диваном и камином;
              li управление всей техникой со смартфона.
            .buttons
              a.button-simple(href='') Забронировать
              .price 14 900 ₽ / ночь