section.additional-offers
  .wrapper
    .max-width
      .overtitle Клиентам
      h2 Дополнительные услуги
    ul
      li Закажите торт на свой праздник с индивидуальным оформлением и начинкой по своему вкусу;
      li Организуем выездной пейнтбол и лазертаг на нашей территории;
      li Если Вы хотите сделать Предложение своей второй половинке, мы поможем Вам в организации незабываемого вечера.
