section.advantages#advantages
  .wrapper
    .max-width
      .overtitle Удобства
      h2 Почему стоит выбрать нас
      .subtitle Мы постарались сделать так, чтобы всем гостям нашего парка было комфортно
    .columns.slideIn.each
      .col-sm-6.col-lg-4
        .advantage
          img(src='/icons/wifi.png')
          .text
              h3 Высокоскоростной Wi-Fi
              p На территории всего парка доступен интернет со скоростью до 150 Мбит/сек и несколькими точками доступа, которые обеспечивают бесперебойный доступ в любом месте.
      .col-sm-6.col-lg-4
        .advantage
          img(src='/icons/mic.png')
          .text
              h3 Голосовое управление с Алисой
              p Система умного дома позволяет с помощью голосового ассистента включать и выключать различные сценарии освещения, регулировать высоту телевизора и температуру в доме.
      .col-sm-6.col-lg-4
        .advantage
          img(src='/icons/parking-sign.png')
          .text
            h3 Парковка рядом с домом
            p Для гостей нашего парка предусмотрена автомобильная парковка на территории недалеко от дома.
      .col-sm-6.col-lg-4
        .advantage
          img(src='/icons/placeholder.png')
          .text
            h3 Удобное расположение
            p Наш парк расположен в 100 км к северу от Москвы по Ярославскому шоссе. На машине можно доехать до самого домика.
      .col-sm-6.col-lg-4
        .advantage
          img(src='/icons/family.png')
          .text
            h3 Отдых для всей семьи
            p Парк можно посещать как вдвоем, так и всей семьей вместе с детьми. Здесь каждый найдет себе развлечение по душе. 
      .col-sm-6.col-lg-4
        .advantage
          img(src='/icons/bicycle.png')
          .text
            h3 Широкий выбор развлечений
            p Гостям доступна аренда уникального багги, снегохода, ретроавтомобиля, а также прогулка по лесу с ретриверами и рыбалка в пруду.