section.advantages#advantages
  .wrapper
    .max-width
      .overtitle Почему стоит выбрать нас
      h2 Что ещё вы получите?
      p Итак, если вы решили обратиться именно в наш автосервис, для вас будет сразу несколько преимуществ.
    .columns
      .col-sm-6.col-lg-4
        .advantage.fadeIn
          h3 Расчёт стоимости ремонта #[span.nowrap по WhatsApp]
          p Вы можете прислать нам фотографии повреждений и мы сразу рассчитаем общую стоимость ремонта.
      .col-sm-6.col-lg-4
        .advantage.fadeIn
          h3 Бесплатный эвакуатор в пределах МКАД
          p Если ремонт будет проводиться у нас, мы самостоятельно эвакуируем ваш автомобиль в пределах МКАД.
      .col-sm-6.col-lg-4
        .advantage.fadeIn
          h3 Качественное немецкое оборудование #[span.nowrap Spies Hecker]
          p Для цветоподбора мы используем спектрофотометр и компьютер с онлайн-базой из 200 000 формул.
      .col-sm-6.col-lg-4
        .advantage.fadeIn
          h3 Выполнение работ #[span.nowrap от 1 дня]
          p Стараемся не затягивать с ремонтом и выдавать машины вовремя. Самые простые работы занимают 1 день.
      .col-sm-6.col-lg-4
        .advantage.fadeIn
          h3 Гарантия на ремонт #[span.nowrap 12 месяцев]
          p На все выполненные в нашем автосервисе работы мы даём гарантию сроком на 12 месяцев.
      .col-sm-6.col-lg-4
        .advantage.fadeIn
          h3 Приятный клиентский сервис
          p Мы прислушиваемся к мнению наших клиентов и стараемся сделать ремонт максимально комфортным.