section.advantages-2#advantages-2
  .wrapper
    .max-width
      .overtitle Удобства
      h2 Почему стоит выбрать нас
      .subtitle Оставьте позади повседневность и суету. У нас вы окунетесь в свежий воздух лесов и полей, насладитесь потрясающими пейзажами, услышите забытые звуки природы. А инновационные технологии обеспечат Вас безмятежным уединением.
    .block
      .item
        img(src='/images/advantages/1.jpeg')
        .content
          .text Технологии интегрированные в дизайн наших домов
      .item
        img(src='/images/advantages/2.jpeg')
        .content
          .text Бесплатный Wi-Fi 6 категории последнего поколения cat6 со скоростью до 150 Мбит/сек
      .item
        img(src='/images/advantages/3.jpeg')
        .content
          .text Бесшовный роуминг (переход между точками без потери сигнала) и оптоволоконная сеть (уверенный сигнал в любой точке парка)
      .item
        img(src='/images/advantages/4.jpeg')
        .content
          .text Система «Умного дома» с голосовым управлением