section.advantages#advantages
  .wrapper
    .max-width
      .overtitle Удобства
      h2 Почему стоит выбрать нас
      .subtitle Оставьте позади повседневность и суету. У нас вы окунетесь в свежий воздух лесов и полей, насладитесь потрясающими пейзажами, услышите забытые звуки природы. А #[a.link(href='/') инновационные технологии] обеспечат Вас безмятежным уединением.
    .mobile
      .owl-carousel.owl-theme
        .item
          img(src='/images/advantages/1.jpeg')
          .text Технологии интегрированные в дизайн наших домов
        .item
          img(src='/images/advantages/2.jpeg')
          .text Бесплатный Wi-Fi 6 категории последнего поколения cat6 со скоростью до 150 Мбит/сек
        .item
          img(src='/images/advantages/3.jpeg')
          .text Бесшовный роуминг (переход между точками без потери сигнала) и оптоволоконная сеть (уверенный сигнал в любой точке парка)
        .item
          img(src='/images/advantages/4.jpeg')
          .text Система «Умного дома» с голосовым управлением
    .desktop
      .owl-carousel
        .item(data-hash="one")
          img(src='/images/advantages/1.jpeg')
          .text Технологии интегрированные в дизайн наших домов
        .item(data-hash="two")
          img(src='/images/advantages/2.jpeg')
          .text Бесплатный Wi-Fi 6 категории последнего поколения cat6 со скоростью до 150 Мбит/сек
        .item(data-hash="three")
          img(src='/images/advantages/3.jpeg')
          .text Бесшовный роуминг (переход между точками без потери сигнала) и оптоволоконная сеть (уверенный сигнал в любой точке парка)
        .item(data-hash="four")
          img(src='/images/advantages/4.jpeg')
          .text Система «Умного дома» с голосовым управлением
      .thumbnails.columns
        .col-3
          a(href='#one')
            img(src='/images/advantages/1.jpeg')
        .col-3
          a(href='#two')
            img(src='/images/advantages/2.jpeg')
        .col-3
          a(href='#three')
            img(src='/images/advantages/3.jpeg')
        .col-3
          a(href='#four')
            img(src='/images/advantages/4.jpeg')