section.animals#animals
  .wrapper
    .max-width.slideIn.each
      .overtitle Природа
      h2 Животный мир
      .subtitle Весь окружающий лес обладает обширным животным миром и при прогулке можно встретить самых разных животных — лося, кабана, косулю, барсука, зайца и других.
      a.button-simple(data-fancybox data-src="#about-animals") Подробнее про животных
      div#about-animals
        .overtitle Справка
        h2 Про животных в лесу
        p Здесь живут лось и кабан, косуля и барсук, лисица и заяц-беляк, куница, горностай и тетерев-глухарь.
        p Утки, как и кулики, богато представлены на Яхроме. Чаше всего встречается кряковая утка чирки. Охотники больше интересуются дупелем и бекасом, которые также относят к куликам.
        p Также встречаются жаворонок, перепел, коростель, полевые мыши, ящерица живородящая.
        p Лисица, барсук, селящийся по оврагам, куница, ласка, заяц, белка, еж, а также насекомоядные крот, землеройка. Из птиц водятся рябчик, тетерев-косач, серая куропатка.
        p Обилие мелких птичек и другой живности (мышей, лягушек) дает возможность кормиться большому количеству хищных птиц, таких как ястреб-стервятник, ястреб-перепелятник, коршун.
        img(src='/images/animals/3.jpeg')
    .columns.slideIn.each
      .col-6.col-md-3
        a.photo(data-fancybox="animals" href='/images/animals/1.jpeg')
          img(src='/images/animals/1.jpeg')
      .col-6.col-md-3
        a.photo(data-fancybox="animals" href='/images/animals/2.jpeg')
          img(src='/images/animals/2.jpeg')
      .col-6.col-md-3
        a.photo(data-fancybox="animals" href='/images/animals/3.jpeg')
          img(src='/images/animals/3.jpeg')
      .col-6.col-md-3
        a.photo(data-fancybox="animals" href='/images/animals/4.jpeg')
          img(src='/images/animals/4.jpeg')
      .col-6.col-md-3
        a.photo(data-fancybox="animals" href='/images/animals/5.jpeg')
          img(src='/images/animals/5.jpeg')
      .col-6.col-md-3
        a.photo(data-fancybox="animals" href='/images/animals/6.jpeg')
          img(src='/images/animals/6.jpeg')
      .col-6.col-md-3
        a.photo(data-fancybox="animals" href='/images/animals/7.jpeg')
          img(src='/images/animals/7.jpeg')
      .col-6.col-md-3
        a.photo(data-fancybox="animals" href='/images/animals/8.jpeg')
          img(src='/images/animals/8.jpeg')
