section.animals#animals
  .wrapper
    .max-width
      .overtitle Животный мир
      h2 Кто у нас водится
    .columns
      .col-md-6
        p Животный мир на участке весьма  разнообразен, так как участок частично граничит с лесным массивом. Здесь обитают птицы и звери, первоначально жившие в лесных массивах, но сумевшие приспособиться к жизни рядом с человеком: лисица, барсук, селящийся по оврагам, куница, ласка, заяц, белка, еж, а также насекомоядные крот, землеройка. Из птиц водятся рябчик, тетерев-косач, серая куропатка. Обилие мелких птичек и другой живности (мышей, лягушек) дает возможность кормиться большому количеству хищных птиц, таких как ястреб-стервятник, ястреб-перепелятник, коршун. Ночные хищники представлены отрядом совиных: филин, серая неясыть, маленькая совка, сыч.
      .col-md-6
        p Так как участок проектирования находится неподалеку от деревни, здесь обитают жаворонок, перепел, коростель, полевые мыши, а также ласточки, грачи, скворцы, галки, вороны, голуби, воробьи и т.д.
        p Ящерицы распространены повсюду и представлены тремя видами - веретеница ломкая, похожая по внешнему виду на змею медянку, прыткая ящерица, живородящая ящерица. Из земноводных в районе проектирования можно отметить травяную, остромордую, озерную и прудовую лягушек, серую жабу и два вида тритонов: тритон обыкновенный и тритон гребенчатый.
    .columns
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/los.jpeg')
          .caption Лось
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/kaban.jpeg')
          .caption Кабан
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/kosulya.jpeg')
          .caption Косуля
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/barsuk.jpeg')
          .caption Барсук
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/lisa.jpeg')
          .caption Лисица
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/zayac-belyak.jpeg')
          .caption Заяц-беляк
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/kunica.jpg')
          .caption Куница
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/gornostay.jpeg')
          .caption Горностай
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/teterev.jpeg')
          .caption Тетерев-глухарь
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/utka-kryakva.jpeg')
          .caption Утка
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/kulik.jpeg')
          .caption Кулик
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/utka-kryakva-2.jpeg')
          .caption Утка чирки
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/dupel.jpeg')
          .caption Дупель
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/bekas.jpeg')
          .caption Бекас
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/zhavoronok.jpeg')
          .caption Жаворонок
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/perepel.jpeg')
          .caption Перепел
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/korostel.jpeg')
          .caption Коростель
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/mysh-polevka.jpeg')
          .caption Полевая мышь
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/yascherica.jpeg')
          .caption Ящерица живородящая
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/laska.jpeg')
          .caption Ласка
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/zayac.jpeg')
          .caption Заяц
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/belka.jpeg')
          .caption Белка
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/ezh.jpeg')
          .caption Еж
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/krot.jpeg')
          .caption Крот
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/zemleroyka.jpeg')
          .caption Землеройка
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/ryabchik.jpeg')
          .caption Рябчик
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/teterev-kosach.jpeg')
          .caption Тетерев-косач
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/seraya-kuropatka.jpeg')
          .caption Серая куропатка
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/yastreb-stervyatnik.jpeg')
          .caption Ястреб-стервятник
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/yastreb-perepelyatnik.jpeg')
          .caption Ястреб-перепелятник
      .col-6.col-md-4.col-lg-3
        .block
          img(src='/images/animals/korshun.jpeg')
          .caption Коршун
