section.chat#chat
  .wrapper
    .max-width
      .overtitle Общение в чате
      h2 Остались вопросы? Спросите в чате или WhatsApp!
      p.fadeIn В случае, если вы не нашли нужной информации, вы можете написать в чат или WhatsApp, и мы проконсультируем вас по любому вопросу.
      p.fadeIn Также вы можете прислать фотографии повреждений вашего автомобиля и мы сразу же рассчитаем стоимость ремонта.
      .button.fadeIn(onclick="jivo_api.open();") Открыть чат
      a.button-whatsapp.fadeIn(href="https://wa.me/79772512675" onclick="ym(52561300,'reachGoal','whatsapp')") Перейти в WhatsApp