section.contact#contact
  .wrapper
    .max-width.slideIn.each
      .overtitle Связаться с нами
      h2 Ответим на ваши вопросы
      .subtitle Оставьте свой номер телефона и мы свяжемся с вами. Мы ответим на ваши вопросы и поможем забронировать домик на нужные даты.
    form#contact-me-form.slideIn.each
      input(type='text' name="name" placeholder="Имя")
      input(type='text' name="phone" placeholder="Телефон")
      a.button(href="") Отправить
section.info
  .wrapper.slideIn.each
    .overtitle Где мы находимся
    h2 Карта проезда
    iframe(src="https://yandex.ru/map-widget/v1/?ll=37.814914%2C56.456567&mode=search&oid=145451177721&ol=biz&z=16.9" frameborder=0)