section.contact#contact
  .wrapper
    .max-width.slideIn.each
      .overtitle Связаться с нами
      h2 Забронировать дом
      .subtitle Свяжитесь с нами любым удобным способом (по телефону или через WhatsApp), чтобы мы ответили на ваши вопросы и помогли забронировать домик на нужные даты. Также вы можете самостоятельно оформить бронь через систему бронирования.
      .buttons
        a.button(href="https://booking-online.agast.ru/?hms_system_id=17391") Забронировать
        a.button-whatsapp(href='https://wa.me/79258710937') Написать в WhatsApp
      a.phone-button(href='tel:+79258710937')
        .label Позвонить по телефону:
        .phone +7 925 871-09-37
section.info
  .wrapper.slideIn.each
    .overtitle Где мы находимся
    h2 Карта проезда
    iframe(src="https://yandex.ru/map-widget/v1/?ll=37.814914%2C56.456567&mode=search&oid=145451177721&ol=biz&z=16.9" frameborder=0)