section.description#description
  .wrapper
    .max-width.slideIn.each
      .overtitle О нас
      h2 Эко-отель «Парк Север» 
      p Наши только построенные дома интуитивно спроектированы для комфорта, успокоения, удовольствия и волнения, представляют собой оазис спокойствия за границами шумного города. Просыпаетесь и наслаждайтесь захватывающими видами. Почувствуйте себя как дома, зная, что все, что вам нужно и чего вы хотите находится у вашего порога.
      p Поразительная эстетика, демонстративно стирает грань между искусством, архитектурой и природой. Насладитесь беспрецендентным комфортом с исключительным сервисом в наших стеклянных домах, где каждая деталь продуманная до мелочей, шепчет снисходительность.
    .columns
      .col-6.col-md-3
        a.photo
          img(src='/images/1.jpeg')
      .col-6.col-md-3
        a.photo
          img(src='/images/2.jpeg')
      .col-6.col-md-3
        a.photo
          img(src='/images/3.jpeg')
      .col-6.col-md-3
        a.photo
          img(src='/images/4.jpeg')
      .col-6.col-md-3
        a.photo
          img(src='/images/5.jpeg')
      .col-6.col-md-3
        a.photo
          img(src='/images/6.jpeg')
      .col-6.col-md-3
        a.photo
          img(src='/images/7.jpeg')
      .col-6.col-md-3
        a.photo
          img(src='/images/8.jpeg')