section.dogs#retriver-club
  .wrapper
    .max-width.slideIn.each
      .overtitle Развлечения
      h2 Ретривер-клуб
      .subtitle Выйдите на прогулку в лес с собаками из ретривер-клуба, которые с удовольствием подарят вам своё внимание. Играйте, веселитесь и фотографируйтесь с щенками — и они сделают ваш отдых на природе незабываемым.
      h3 Наши собаки
    .dogs-carousel.owl-carousel.owl-theme
      .item
        img(src='/images/dogs/6.jpeg')
        .text Собака
      .item
        img(src='/images/dogs/22.jpeg')
        .text Собака
      .item
        img(src='/images/dogs/11.jpeg')
        .text Собака
    .columns.slideIn.each
      .col-4.col-sm-3.col-lg-2
        a.photo(data-fancybox="dogs" href='/images/dogs/1.jpeg')
          img(src='/images/dogs/1.jpeg')
      .col-8.col-sm-6.col-lg-4.half
        a.photo(data-fancybox="dogs" href='/images/dogs/2.jpeg')
          img(src='/images/dogs/2.jpeg')
      .col-4.col-sm-3.col-lg-2
        a.photo(data-fancybox="dogs" href='/images/dogs/3.jpeg')
          img(src='/images/dogs/3.jpeg')
      .col-4.col-sm-3.col-lg-2
        a.photo(data-fancybox="dogs" href='/images/dogs/4.jpeg')
          img(src='/images/dogs/4.jpeg')
      .col-4.col-sm-3.col-lg-2
        a.photo(data-fancybox="dogs" href='/images/dogs/5.jpeg')
          img(src='/images/dogs/5.jpeg')
      .col-8.col-sm-6.col-lg-4.half
        a.photo(data-fancybox="dogs" href='/images/dogs/6.jpeg')
          img(src='/images/dogs/6.jpeg')
      .col-4.col-sm-3.col-lg-2
        a.photo(data-fancybox="dogs" href='/images/dogs/7.jpeg')
          img(src='/images/dogs/7.jpeg')
      .col-8.col-sm-6.col-lg-4.half
        a.photo(data-fancybox="dogs" href='/images/dogs/10.jpeg')
          img(src='/images/dogs/10.jpeg')
      .col-4.col-sm-3.col-lg-2
        a.photo(data-fancybox="dogs" href='/images/dogs/9.jpeg')
          img(src='/images/dogs/9.jpeg')
      .col-4.col-sm-3.col-lg-2
        a.photo(data-fancybox="dogs" href='/images/dogs/8.jpeg')
          img(src='/images/dogs/8.jpeg')
      .col-4.col-sm-3.col-lg-2
        a.photo(data-fancybox="dogs" href='/images/dogs/11.jpeg')
          img(src='/images/dogs/11.jpeg')
      .col-4.col-sm-3.col-lg-2
        a.photo(data-fancybox="dogs" href='/images/dogs/12.jpeg')
          img(src='/images/dogs/12.jpeg')
      .col-4.col-sm-3.col-lg-2
        a.photo(data-fancybox="dogs" href='/images/dogs/13.jpeg')
          img(src='/images/dogs/13.jpeg')
      .col-8.col-sm-6.col-lg-4.half
        a.photo(data-fancybox="dogs" href='/images/dogs/14.jpeg')
          img(src='/images/dogs/14.jpeg')
      .col-4.col-sm-3.col-lg-2
        a.photo(data-fancybox="dogs" href='/images/dogs/15.jpeg')
          img(src='/images/dogs/15.jpeg')
      //- .col-4.col-sm-3.col-lg-2
      //-   a.photo(data-fancybox="dogs" href='/images/dogs/16.jpeg')
      //-     img(src='/images/dogs/16.jpeg')
      .col-4.col-sm-3.col-lg-2
        a.photo(data-fancybox="dogs" href='/images/dogs/17.jpeg')
          img(src='/images/dogs/17.jpeg')
      .col-4.col-sm-3.col-lg-2
        a.photo(data-fancybox="dogs" href='/images/dogs/18.jpeg')
          img(src='/images/dogs/18.jpeg')
      .col-8.col-sm-6.col-lg-4.half
        a.photo(data-fancybox="dogs" href='/images/dogs/19.jpeg')
          img(src='/images/dogs/19.jpeg')
      .col-4.col-sm-3.col-lg-2
        a.photo(data-fancybox="dogs" href='/images/dogs/20.jpeg')
          img(src='/images/dogs/20.jpeg')
      .col-4.col-sm-3.col-lg-2
        a.photo(data-fancybox="dogs" href='/images/dogs/21.jpeg')
          img(src='/images/dogs/21.jpeg')
      .col-8.col-sm-6.col-lg-4.half
        a.photo(data-fancybox="dogs" href='/images/dogs/22.jpeg')
          img(src='/images/dogs/22.jpeg')
      .col-4.col-sm-3.col-lg-2
        a.photo(data-fancybox="dogs" href='/images/dogs/23.jpeg')
          img(src='/images/dogs/23.jpeg')
