section.entertainment#entertainment
  .wrapper
    .columns
      .col-md-3.centered.slideIn
        img(src='/images/services/animals.jpeg')
      .col-md-1
      .col-md-8.slideIn.each
        .overtitle Развлечения
        h2 Чем заняться
        p Для посетителей нашего отеля доступны различные виды развлечений и отдыха:
        ul
          li Катание на 390-сильном багги (весной, летом, осенью);
          li Катание на мотоцикле;
          li Катание на снегоходе 1100 Turbo (зимой);
          li Катание на велосипеде;
          li Катание на ретроавтомобиле;
          li Пешие прогулки по лесу;
          li Рыбалка в пруду.
        p В дополнение к этому, окружающий лес обладает обширным животным миром и при прогулке можно встретить лося, кабана, косулю, барсука и других животных. 
        .button-simple Подробнее
      