section.entertainment#entertainment
  .wrapper
    .overtitle Развлечения
    h2 Чем заняться
    .max-width
      p Для посетителей нашего парка доступны различные виды развлечений и отдыха, такие как катание на багги, мотоцикле, снегоходе, велосипеде, ретроавтомобиле, а также пешие прогулки по лесу, рыбалка в пруду и знакомство с щенками из ретривер-клуба. В дополнение к этому, окружающий лес обладает обширным животным миром и при прогулке можно встретить лося, кабана, косулю, барсука и других животных.
    a.button-simple(href='/entertainment') Подробнее
    .columns
      .col-md-6.col-lg-4
        img(src='/images/services/buggy.jpg')
      .col-md-6.col-lg-4
        img(src='/images/accommodation/16.jpeg')
      .col-md-6.col-lg-4
        img(src='/images/services/animals.jpeg')