section.equipment#equipment.dark
  .wrapper
    .max-width
      .overtitle Наше оборудование
      h2 Немецкая лаборатория цветоподбора #[span.nowrap от компании Spies Hecker]
      .fadeIn
        p При ремонте автомобилей мы используем редкие материалы и профессиональное оборудование немецкой компании Spies Hecker, а именно:
        ul
          li собственная лаборатория цветоподбора Spies Hecker;
          li многоугловой спектрофотометр ColorDialog Phoenix;
          li онлайн-база более 200 000 формул цветов от автопроизводителей;
          li электронная станция для смешивания PMA.Evolution;
          li краскопульты премиум-класса от компании SATA 5000-ой серии.
        p Использование оборудования компании Spies Hecker является преимуществом нашего автосервиса, так как другими автосервисами подобное применяется достаточно редко.
        .button-simple(data-fancybox data-src='#equipment-popup') Читать подробнее
.popup#equipment-popup
  h2 Оборудование, используемое при покраске автомобилей в автосервисе «M72SEVER»
  .label Время чтения — 2 минуты
  img(src='images/equipment/color-picking-lab.jpg' loading="lazy")
  p Для ремонта автомобилей мы используем высококачественное оборудование и материалы от таких компаний, как Festool, SATA, Trommelberg, SATA и Spies Hecker. 
  p Наиболее значимым нашим преимуществом является собственная лаборатория цветоподбора Spies Hecker, которая нужна для идентификации и приготовления автомобильных красок, и включает в себя следующее:
  ul
    li механизированный стеллаж с компонентами для приготовления красок;
    li многоугловой спектрофотометр ColorDialog Phoenix;
    li программу для цветоподбора Phoenix;
    li электронную станцию для смешивания PMA.Evolution.
  h3 Спектрофотометр ColorDialog Phoenix
  img(src='images/equipment/color-picking-device.jpg' loading="lazy")
  p Для получения точного цвета автомобиля мы используем многоугловой спектрофотометр. Это небольшое устройство обладает высокоточной измерительной оптикой и светодиодной подсветкой, и позволяет точно определять исходный цвет автомобиля.
  p Спектрофотометр работает в связке с программой цветоподбора Phoenix, которая имеет доступ к регулярно обновляемой базе более 200 000 формул цветов от различных автопроизводителей. Более того, в программе предусмотрена функция автоматической доколеровки, которая позволяет нам при необходимости создавать новые формулы или корректировать существующие.
  p Для замешивания и получения необходимых цветов мы используем электронную станцию для смешивания PMA.Evolution, которая автоматически рассчитывает соотношение компонентов для получения краски нужного оттенка.
  h3 Краскопульты премиум-класса SATA 5000-ой серии
  img(src='images/equipment/spray-guns.jpg' loading="lazy")
  p Финальный этап, а именно нанесение краски на автомобиль, мы выполняем при помощи немецких краскопультов премиум-класса от компании SATA 5000-ой серии.
  p Данные окрасочные пистолеты имеют широкий диапазон регулировок, что позволяет нам учесть все нюансы лакокрасочного материала, климатических и других условий, и выполнить покраску вашего автомобиля максимально качественно.
  p Благодаря этому мы можем воссоздать практически любой цвет и покрасить ваш автомобиль с максимальной точностью. Также мы можем самостоятельно создавать формулы и при необходимости корректировать их, в случае если цвет вашего автомобиля отличается от заводского.

