section.faq#faq
  .wrapper
    .max-width
      .overtitle Полезная информация
      h2 Вопросы и ответы
      .content
        .spoiler.closed.fadeIn Что такое локальная покраска?
        .answer.fadeIn
          p Как писали выше, это оптимальный вариант покраски для деталей с небольшими повреждениями ЛКП (не более 30-40% от общей площади). Красится не вся деталь, а лишь повреждённый её участок. При этом от нового лакокрасочного покрытия образуется плавный и незаметный переход к старому.
        .spoiler.closed.fadeIn Будет ли отличаться цвет?
        .answer.fadeIn
          p Нет, так как мы используем компьютерный подбор цвета с помощью специального прибора — спектрофотометра. Это позволяет нам гарантировать точное попадание в цвет и не оставлять видимого перехода.
          p Место покраски можно определить только используя толщиномер. А если вы заказали покраску с заданной толщиной ЛКП, то определить покраску невозможно даже с толщиномером.
        .spoiler.closed.fadeIn Сколько стоит удаление небольших царапин?
        .answer.fadeIn 
          p К сожалению, мы не можем заранее подсказать точную стоимость этих работ, так как мастеру необходимо осмотреть поврежденный участок и оценить объем работ.
          p Вы можете прислать нам в WhatsApp фотографии повреждений и мы сразу скажем стоимость ремонта. Как правило, удаление вмятин или царапин стоит от 3 000 рублей.
        .spoiler.closed.fadeIn Сколько стоит покраска детали целиком?
        .answer.fadeIn 
          p В случаях, когда невозможно устранить повреждения детали методом локальной покраски, мы восстанавливаем и красим деталь полностью. Стоимость такого ремонта составляет от 5 000 до 14 500 рублей, в зависимости от детали.
          p Вы можете прислать нам в WhatsApp фотографии повреждений и мы сразу скажем стоимость ремонта. Как правило, удаление вмятин или царапин стоит от 3 000 рублей.
        .spoiler.closed.fadeIn Сколько времени занимает ремонт?
        .answer.fadeIn 
          p Большую часть мелких повреждений мы устраняем в течение одного рабочего дня. Вы можете сдать ваш автомобиль утром и забрать уже вечером. Если ремонт оказывается более сложным и требует рихтовки детали, то это занимает 2-3 рабочих дня.
        .spoiler.closed.fadeIn Насколько хватит ремонта?
        .answer.fadeIn 
          p Ремонт в нашем автосервисе должен прослужить вам очень долго, так как мы стараемся не экономить на материалах и оборудовании, и делать свою работу качественно. Поэтому мы предоставляем гарантию на все выполненные нами работы сроком на 12 месяцев.
        .spoiler.last.closed.fadeIn А если после ремонта что-то пошло не так?
        .answer.fadeIn 
          p Хоть мы и стараемся делать нашу работу качественно, ситуации бывают разные. Если что-то пошло не так и вы недовольны качеством работ, у нас на сайте предусмотрена возможность оставить претензию напрямую нашему руководителю.
          p Обращайтесь и описывайте вашу проблему, мы стараемся в любых ситуациях идти клиентам навстречу и разрешать все возникающие споры.
          