section.february-14
  .wrapper
    .max-width
      .overtitle 14 февраля
      h2 Valentine's Day
    p.bold Романтика и уединение.
    p #[span.bold Парк Север] отмечает праздник с 12.02 по 19.02 февраля.
    p.quote Love is… in  the Park Sever
    .columns
      .col-6.col-sm-4.col-md-3
        a.photo(data-fancybox='february' href='/images/february/1.jpg')
          img(src='/images/february/1.jpg')
      .col-6.col-sm-4.col-md-3
        a.photo(data-fancybox='february' href='/images/february/2.jpg')
          img(src='/images/february/2.jpg')
      .col-6.col-sm-4.col-md-3
        a.photo(data-fancybox='february' href='/images/february/3.jpg')
          img(src='/images/february/3.jpg')
      .col-6.col-sm-4.col-md-3
        a.photo(data-fancybox='february' href='/images/february/4.jpg')
          img(src='/images/february/4.jpg')

section.february-23
  .wrapper
    .max-width
      .overtitle 23 февраля
      h2 День защитника Отечества
    p #[span.bold Park Sever] отмечает праздник с 20.02 по 26.02 февраля.
    p Немного перчинки в праздник для мужчин!
    .columns
      .col-6.col-sm-4.col-md-3
        a.photo(data-fancybox='february' href='/images/february/5.jpg')
          img(src='/images/february/5.jpg')
      .col-6.col-sm-4.col-md-3
        a.photo(data-fancybox='february' href='/images/february/6.jpg')
          img(src='/images/february/6.jpg')
      .col-6.col-sm-4.col-md-3
        a.photo(data-fancybox='february' href='/images/february/7.jpg')
          img(src='/images/february/7.jpg')
      .col-6.col-sm-4.col-md-3
        a.photo(data-fancybox='february' href='/images/february/8.jpg')
          img(src='/images/february/8.jpg')


