footer
  .wrapper
    .columns
      .col-md-4.col-lg-3
        p.logo Эко-отель «Парк Север»
        p Парк для отдыха и развлечений в 80 км от Москвы. Для гостей доступен стеклянный гостевой домик с голосовым управлением через Алису, а также аренда багги, мотоцикла или снегохода, игры на открытом воздухе, рыбалка и пешие прогулки.
      .col-0.col-lg-2
      .col-md-4.col-lg-3
        .menu
           a(href="/") Главная
            a(href="/accommodation") Проживание
            a(href="/entertainment") Развлечения
            a(href="/about") О нас
            a(href="/contacts") Контакты
      .col-md-4
        .contacts
          a.contact(href='')
            .label Адрес
            .text Московская область, Дмитровский городской округ, деревня Василёво, 38С
          a.contact(href='tel:+79258710937')
            .label Телефон
            .text +7 925 871-09-37
          a.contact(href='mailto:park-sever@inbox.ru')
            .label Email
            .text park-sever@inbox.ru
          .contact
            .label Социальные сети
            .socials
              a.vk-icon(href='https://vk.com/park_sever')
              a.whatsapp-icon(href='https://wa.me/79258710937')
              a.tiktok-icon(href='https://tiktok.com/@park_sever')
              a.instagram-icon(href='https://www.instagram.com/park_sever_moscow')
              a.telegram-icon(href='https://t.me/park_sever')
              a.youtube-icon(href='https://youtube.com/@ParkSever')
              a.rutube-icon(href='https://rutube.ru/channel/34216981/')
  .copyrights
    .wrapper
      p © 2021—#{year} Эко-отель «Парк Север». #[span.nowrap Все права защищены.]
