section.gift-cards
  .wrapper
    .max-width
      .overtitle Акции
      h2 Подарочные сертификаты
    .subtitle У нас Вы можете приобрести подарочные Сертификаты на проживание в течении определенного количества дней (ночей) или на определенную сумму.
    ul
      li Подарочный сертификат дает право проживания на территории Park Sever в единственном стеклянном доме №1;
      li Действие сертификата начинается с даты, указанной на сертификате;
      li Продолжительность действия сертификата составляет 6 месяцев при приобретении на определенное количество дней (ночей);
      li Продолжительность действия сертификата составляет 36 месяцев при приобретении на определенную сумму;
      li При приобретении сертификата на определенное количество дней (ночей), его действие не распространяется на праздничные дни;
      li Для приобретения, активации и бронирования дат необходимо связаться с нами по телефону, WhatsApp или Telegram, указанным в разделе Контакты.
    .centered
      img(src="/images/special-offers/gift-card.jpg")