header(class=(transparentHeader && 'transparent'))
  .wrapper
    //- .header-line
      .text #[b Телефон:] +7 925 871-09-37
      .text #[b Email:] riverdale@inbox.ru
      .text #[b Адрес:] Московская область, Дмитровский городской округ, деревня Василёво, 38С
    .header-main
      a.menu-button
        span
        span
        span
      a.logo(href='/') 
        img(src='/images/logo.png?2')
        .text
          .name Парк Север
          .label Эко-отель
      .menu
        a(href="/") Главная
        a(href="/accommodation") Проживание
        a(href='/entertainment') Развлечения
        a(href="/about") О нас
        a(href="/contacts") Контакты
      a.button(href="https://booking-online.agast.ru/?hms_system_id=17391") Забронировать
  .mobile-menu
    a(href="/") Главная
    a(href="/accommodation") Проживание
    a(href='/entertainment') Развлечения
    a(href="/about") О нас
    a(href="/contacts") Контакты
