header(class=(transparentHeader && 'transparent'))
  .wrapper
    //- .header-line
      .text #[b Телефон:] +7 925 871-09-37
      .text #[b Email:] park-sever@inbox.ru
      .text #[b Адрес:] Московская область, Дмитровский городской округ, деревня Василёво, 38С
    .header-main
      a.menu-button
        span
        span
        span
      .logo-container
        a.logo(href='/') 
          img(src='/images/logo-blue.png?2')
          .text
            .name Парк Север
            .label Эко-отель
        a.special-offer(href='/special-offers')
          img(src='/images/special-offer.png')
      .menu
        a(href="/") Главная
        a(href="/accommodation/house-1") Проживание
        a(href='/entertainment') Развлечения
        //- a(href='/new-year') Новый Год
        //- a(href='/february') 14 и 23 Февраля
        a(href='/special-offers') Спецпредложения
        //- a(href='/pay') Оплата
        a(href='/news') Новости
        a(href="/about") О нас
        a(href="/contacts") Контакты
      a.button(href="?znms_widget_open=5558") Забронировать
  .mobile-menu
    a(href="/") Главная
    a(href="/accommodation/house-1") Проживание
    a(href='/entertainment') Развлечения
    //- a(href='/new-year') Новый Год
    //- a(href='/february') 14 и 23 Февраля
    a(href='/special-offers') Спецпредложения
    //- a(href='/pay') Оплата
    a(href='/news') Новости
    a(href="/about") О нас
    a(href="/contacts") Контакты
