section.houses#houses
  .wrapper
    .max-width
      h2 Дома для проживания
    .owl-carousel.owl-theme
      a.house(href="/accommodation/house-1")
        img(src='/images/accommodation/house-1/01.jpg')
        .text
          h3 Стеклянный дом №1
          .button-arrow Подробнее
      a.house(href="/accommodation/house-2")
        img(src='/images/accommodation/house-2/main.jpeg')
        .text
          h3 Стеклянный дом №2
          .button-arrow Подробнее
      a.house(href="/accommodation/house-3")
        img(src='/images/accommodation/house-1/01.jpg')
        .text
          h3 Стеклянный дом №3
          .button-arrow Подробнее