section.houses
  .wrapper
    .max-width
      h2 Дома для проживания
    .columns
      .col-md-4
        a.house(href="#house-2")
          img(src='/images/accommodation/01.jpg')
          .text
            h3 Стеклянный дом №2
            .subtitle Строится
      .col-md-4
        a.house.active(href="#house-1")
          img(src='/images/accommodation/01.jpg')
          .text
            h3 Стеклянный дом №1
      .col-md-4
        a.house(href="#house-3")
          img(src='/images/accommodation/01.jpg')
          .text
            h3 Стеклянный дом №3
            .subtitle Строится
section.house#house-1(style="display: block")
  .wrapper
    .max-width
      h2 Описание
    .columns
      .col-md-7.slideIn.each
        p Стеклянный дом в лесу, открытый окружающему пространству, где прозрачные стены — это невидимые границы между современным жилищем с передовыми технологиями и окружающей природой.
        p Вдали от городской суеты и забот Вы можете расслабится и насладится потрясающими пейзажами, услышать забытые звуки природы.
        p Дом оборудован системой автоматизации, интеллектуальным и голосовым управлением, оптоволоконной сетью с высокоскоростным интернетом до 150 Мбит/сек, с бесплатной точкой доступа к Wi-Fi 6-й категории последнего поколения cat6.
        p Мебель ручной работы и предметы интерьера дома, выполненные эксклюзивно, созданы для полноценного ощущения гармонии внутреннего пространства с царящей красотой естественного мира.
        p #[b Вместимость:] до 2-х гостей
        p #[b Комплектация дома:]
        ul
          li Кухня-гостиная — двухместный диван (спальное место 142 х 198 см, два варианта раскладывания в длину), телевизор, регулируемый по высоте (с подписками Okko, Ivi), стол из среза дерева, два стула, кухонный гарнитур, мойка, холодильник, чайник, индукционная плита, микроволновая печь, вытяжка, а также полный комплект посуды и столовых приборов;
          li Спальная — двуспальная кровать размера King-size, шторы Blackout из премиального текстиля с возможностью полного закрытия для приватного отдыха;
          li Санузел — унитаз и душевая кабина с панорамным видом, раковина из цельной породы мрамора, зеркало, фен;
          li Индивидуальный набор — халат, тапочки, косметический набор, полотенца;
          li Набор продуктов для приготовления завтрака;
          li Настольные игры для веселой компании;
          li Аптечка с необходимым набором медикаментов;
          li По запросу — детская кроватка, детский стульчик для кормления;
          li Безопасность — огнетушитель, видеонаблюдение снаружи здания, датчики дыма, закрытая территория.
        p #[b Особенности:]
        ul
          li Панорамный вид из окон на лес с молодыми берёзами и соснами;
          li Мангальная зона, открытая терасса с зоной отдыха и комплектом мебели;
          li Умный дом с голосовым управлением через Алису, включение/выключение света в доме и на улице, регулировка температуры в доме (климат-контроль), изменение высоты телевизора, беспроводные зарядки и множество сценариев освещения;
          li Высокоскоростной интернет — Wi-Fi 6, скорость до 150 Мбит/сек, несколько точек доступа с бесшовным роумингом (переключение между ними без потери сигнала), соединение точек оптоволоконным кабелем (уверенный сигнал в любой точке парка);
          li Парковка для автомобилей рядом с домом.
        p #[b Стоимость проживания:]
        .prices
          .price
            .label Будние дни (воскресенье-четверг)
            .value 10 000 ₽ / сутки
          .price
            .label Выходные дни (пятница-суббота)
            .value 12 000 ₽ / сутки
        a.button(href='?znms_widget_open=5558') Забронировать
      .col-md-5.slideIn.each
        img(src='/images/accommodation/main.jpeg')
section.house#house-2
  .wrapper
    .max-width
      h2 Описание Стеклянного дома №2
    .columns
      .col-md-7.slideIn.each
        h3 Ведутся строительные работы.
        p #[b Комплектация Стеклянного дома №2:]
        ul
          li Кухня-гостиная — двухместный диван, телевизор, регулируемый по высоте (с подписками Okko, Ivi), стол, стулья, кухонный гарнитур, ПММ, холодильник, чайник, индукционная плита, микроволновая печь, вытяжка, а также полный комплект посуды и столовых приборов;
          li Спальная — двуспальная кровать размера King-size, шторы Blackout из премиального текстиля с возможностью полного закрытия для приватного отдыха;
          li Ванная — унитаз, душевая, ванная и сауна с панорамным видом, раковина, зеркало, фен;
          li Индивидуальный набор — халат, тапочки, косметический набор, полотенца;
          li Набор продуктов для приготовления завтрака;
          li Настольные игры для веселой компании;
          li Аптечка с необходимым набором медикаментов;
          li По запросу — детская кроватка, детский стульчик для кормления;
          li Безопасность — огнетушитель, видеонаблюдение снаружи здания, датчики дыма, закрытая территория.
        p #[b Особенности:]
        ul
          li Панорамный вид из окон на лес с молодыми берёзами и соснами;
          li Мангальная зона, открытая терасса с зоной отдыха и комплектом мебели;
          li Умный дом с голосовым управлением через Алису, включение/выключение света в доме и на улице, регулировка температуры в доме (климат-контроль), изменение высоты телевизора, беспроводные зарядки и множество сценариев освещения;
          li Высокоскоростной интернет — Wi-Fi 6, скорость до 150 Мбит/сек, несколько точек доступа с бесшовным роумингом (переключение между ними без потери сигнала), соединение точек оптоволоконным кабелем (уверенный сигнал в любой точке парка);
          li Парковка для автомобилей рядом с домом.
        p #[b Завершение строительства:]
        p Май 2024 года.
        p #[b Доступен для бронирования:]
        p Лето 2024 года.
      .col-md-5.slideIn.each
        img(src='/images/accommodation/main.jpeg')
section.house#house-3
  .wrapper
    .max-width
      h2 Описание Стеклянного дома №3
    .columns
      .col-md-7.slideIn.each
        h3 Ведутся строительные работы.
        p #[b Комплектация Стеклянного дома №3:]
        ul
          li Кухня-гостиная — двухместный диван, телевизор, регулируемый по высоте (с подписками Okko, Ivi), стол, стулья, кухонный гарнитур, ПММ, холодильник, чайник, индукционная плита, микроволновая печь, вытяжка, а также полный комплект посуды и столовых приборов;
          li Спальная — двуспальная кровать размера King-size, шторы Blackout из премиального текстиля с возможностью полного закрытия для приватного отдыха;
          li Ванная — унитаз, душевая, ванная и сауна с панорамным видом, раковина, зеркало, фен;
          li Индивидуальный набор — халат, тапочки, косметический набор, полотенца;
          li Набор продуктов для приготовления завтрака;
          li Настольные игры для веселой компании;
          li Аптечка с необходимым набором медикаментов;
          li По запросу — детская кроватка, детский стульчик для кормления;
          li Безопасность — огнетушитель, видеонаблюдение снаружи здания, датчики дыма, закрытая территория.
        p #[b Особенности:]
        ul
          li Панорамный вид из окон на лес с молодыми берёзами и соснами;
          li Мангальная зона, открытая терасса с зоной отдыха и комплектом мебели;
          li Умный дом с голосовым управлением через Алису, включение/выключение света в доме и на улице, регулировка температуры в доме (климат-контроль), изменение высоты телевизора, беспроводные зарядки и множество сценариев освещения;
          li Высокоскоростной интернет — Wi-Fi 6, скорость до 150 Мбит/сек, несколько точек доступа с бесшовным роумингом (переключение между ними без потери сигнала), соединение точек оптоволоконным кабелем (уверенный сигнал в любой точке парка);
          li Парковка для автомобилей рядом с домом.
        p #[b Завершение строительства:]
        p Октябрь 2024 года.
        p #[b Доступен для бронирования:]
        p Зима 2024 года.
      .col-md-5.slideIn.each
        img(src='/images/accommodation/main.jpeg')