section.main-menu#main-menu
  .wrapper
    .centered.max-width
      .overtitle Услуги парка
      h2 Побалуйте себя и свои чувства
      .subtitle Для гостей парка доступен стеклянный гостевой домик с голосовым управлением через Алису, а также различные развлечения, спорт и активный отдых на открытом воздухе.
    .desktop
      .columns.slideIn.each
        a.col-sm-6.col-lg-3(href="/entertainment")
          .image
            img(src="/images/main-menu/1.jpeg")
          h2 Развлечения с экстримом
          .button-arrow Подробнее
        a.col-sm-6.col-lg-3(href='/accommodation')
          .image
            img(src="/images/main-menu/2.jpeg")
          h2 Эксклюзивные дома с уникальным интерьером
          .button-arrow Подробнее
        a.col-sm-6.col-lg-3(href="/about")
          .image
            img(src="/images/main-menu/3.jpeg")
          h2 Прогулки по первозданной природе
          .button-arrow Подробнее
        a.col-sm-6.col-lg-3(href="/entertainment#retriver-club")
          .image
            img(src="/images/dogs/14.jpeg")
          h2 Общение с животными. Наш ретривер-клуб
          .button-arrow Подробнее
    .mobile
      .owl-carousel.owl-theme
        a(href="/entertainment")
          .image
            img(src="/images/main-menu/1.jpeg")
          h2 Развлечения с экстримом
          .button-arrow Подробнее
        a(href='/accommodation')
          .image
            img(src="/images/main-menu/2.jpeg")
          h2 Эксклюзивные дома с уникальным интерьером
          .button-arrow Подробнее
        a(href="/about")
          .image
            img(src="/images/main-menu/3.jpeg")
          h2 Прогулки по первозданной природе
          .button-arrow Подробнее
        a(href="/entertainment#retriver-club")
          .image
            img(src="/images/dogs/14.jpeg")
          h2 Общение с животными. Наш ретривер-клуб
          .button-arrow Подробнее
