section.main-menu#main-menu
  .wrapper
    .centered.max-width
      .overtitle Услуги отеля
      h2 Что вас интересует
      .subtitle Для гостей парка доступны стеклянные гостевые домики с управлением со смартфона, а также различные развлечения, спорт и активный отдых на открытом воздухе.
    .columns.slideIn.each
      .col-md-6
        a.block(href='/accommodation')
          img.image(src="/images/main.jpg")
          .overlay
            h2 Проживание
            .content
              .subtitle Стеклянные гостевые домики вдали от городской суеты и забот. Оборудованы современной мебелью, удобной кухней и могут контролироваться со смартфона.
              .button-arrow Подробнее
      .col-md-6
        a.block(href="/entertainment")
          img.image(src="/images/about.jpg")
          .overlay
            h2 Развлечения
            .content
              .subtitle Катание на багги, мотоцикле, снегоходе, велосипедах, ретроавтомобиле ГАЗ М-72, рыбалка и пешие прогулки.
              .button-arrow Подробнее
