title= seoTitle || title + ' | ' + company
meta(name="description", content=subtitle)
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="stylesheet", href="/libraries/jquery.fancybox.min.css")
link(rel="stylesheet", href="/styles/main.css?" + time)
link(rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16")
link(rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32")
link(rel="apple-touch-icon" href="/images/favicon/apple-touch-icon.png" sizes="180x180")