section.new-year
  .wrapper
    .max-width
      .overtitle Праздники
      h2 Новый Год
    p 🎄 В Новогодние праздники дом сдаётся только от 2-х ночей.
    p ✨️ В декабре дом предварительно подготавливается к праздникам (чем ближе к новому году, тем больше украшен). В праздники к каждому заезду гостей, Вас будет ждать:
    ul
      li ❄️ праздничная атмосфера;
      li ❄️ новогодняя особая сервировка стола;
      li ❄️ шампанское (игристое вино);
      li ❄️ подарки 🎁.
    .columns
      .col-12.col-md-6
        a.video(data-fancybox='new-year' href='/videos/new-year/1.mp4')
          video(src='/videos/new-year/1.mp4' poster='/images/new-year/poster-1.jpg' autoplay loop muted playsInline)
      .col-12.col-md-6
        a.video(data-fancybox='new-year' href='/images/new-year/2.mp4')
          video(src='/videos/new-year/2.mp4' poster='/images/new-year/poster-2.jpg' autoplay loop muted playsInline)
      .col-6.col-sm-4.col-md-3.col-lg-2
        a.photo(data-fancybox='new-year' href='/images/new-year/1.jpg')
          img(src='/images/new-year/1.jpg')
      .col-6.col-sm-4.col-md-3.col-lg-2
        a.photo(data-fancybox='new-year' href='/images/new-year/2.jpg')
          img(src='/images/new-year/2.jpg')
      .col-6.col-sm-4.col-md-3.col-lg-2
        a.photo(data-fancybox='new-year' href='/images/new-year/3.jpg')
          img(src='/images/new-year/3.jpg')
      .col-6.col-sm-4.col-md-3.col-lg-2
        a.photo(data-fancybox='new-year' href='/images/new-year/4.jpg')
          img(src='/images/new-year/4.jpg')
      .col-6.col-sm-4.col-md-3.col-lg-2
        a.photo(data-fancybox='new-year' href='/images/new-year/5.jpg')
          img(src='/images/new-year/5.jpg')
      .col-6.col-sm-4.col-md-3.col-lg-2
        a.photo(data-fancybox='new-year' href='/images/new-year/6.jpg')
          img(src='/images/new-year/6.jpg')
      .col-6.col-sm-4.col-md-3.col-lg-2
        a.photo(data-fancybox='new-year' href='/images/new-year/7.jpg')
          img(src='/images/new-year/7.jpg')
      .col-6.col-sm-4.col-md-3.col-lg-2
        a.photo(data-fancybox='new-year' href='/images/new-year/8.jpg')
          img(src='/images/new-year/8.jpg')
      .col-6.col-sm-4.col-md-3.col-lg-2
        a.photo(data-fancybox='new-year' href='/images/new-year/9.jpg')
          img(src='/images/new-year/9.jpg')
      .col-6.col-sm-4.col-md-3.col-lg-2
        a.photo(data-fancybox='new-year' href='/images/new-year/10.jpg')
          img(src='/images/new-year/10.jpg')
      .col-6.col-sm-4.col-md-3.col-lg-2
        a.photo(data-fancybox='new-year' href='/images/new-year/11.jpg')
          img(src='/images/new-year/11.jpg')
      .col-6.col-sm-4.col-md-3.col-lg-2
        a.photo(data-fancybox='new-year' href='/images/new-year/12.jpg')
          img(src='/images/new-year/12.jpg')

