section.photos#photos
  .wrapper
    .max-width
      .overtitle Фотографии
      h2 Как выглядит домик
    .columns.slideIn.each
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/1.jpeg")
          img(src='/images/accommodation/1.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/2.jpeg")
          img(src='/images/accommodation/2.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/3.jpeg")
          img(src='/images/accommodation/3.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/4.jpeg")
          img(src='/images/accommodation/4.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/5.jpeg")
          img(src='/images/accommodation/5.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/6.jpeg")
          img(src='/images/accommodation/6.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/7.jpeg")
          img(src='/images/accommodation/7.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/8.jpeg")
          img(src='/images/accommodation/8.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/9.jpeg")
          img(src='/images/accommodation/9.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/10.jpeg")
          img(src='/images/accommodation/10.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/11.jpeg")
          img(src='/images/accommodation/11.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/12.jpeg")
          img(src='/images/accommodation/12.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/13.jpeg")
          img(src='/images/accommodation/13.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/14.jpeg")
          img(src='/images/accommodation/14.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/15.jpeg")
          img(src='/images/accommodation/15.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/16.jpeg")
          img(src='/images/accommodation/16.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/17.jpeg")
          img(src='/images/accommodation/17.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/18.jpeg")
          img(src='/images/accommodation/18.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/19.jpeg")
          img(src='/images/accommodation/19.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/20.jpeg")
          img(src='/images/accommodation/20.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/21.jpeg")
          img(src='/images/accommodation/21.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/22.jpeg")
          img(src='/images/accommodation/22.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/23.jpeg")
          img(src='/images/accommodation/23.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/24.jpeg")
          img(src='/images/accommodation/24.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/25.jpeg")
          img(src='/images/accommodation/25.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/26.jpeg")
          img(src='/images/accommodation/26.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/27.jpeg")
          img(src='/images/accommodation/27.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/28.jpeg")
          img(src='/images/accommodation/28.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/29.jpeg")
          img(src='/images/accommodation/29.jpeg')
      .col-4.col-md-3.col-lg-2
        a.photo(data-fancybox="photos" href="/images/accommodation/30.jpeg")
          img(src='/images/accommodation/30.jpeg')