section.photos#photos
  .wrapper
    .max-width
      .overtitle Сколько мы уже сделали
      h2 Более 1 000 отремонтированных автомобилей
      p Если хотите более подробно ознакомиться с нашими работами, переходите в наш #[a(href='https://instagram.com/m72sever') Instagram @m72sever].
    .photos-container(data-username='m72sever')
    .button-area
      a.button-simple(href='https://instagram.com/m72sever') Перейти в Instagram