section.purchases
  .wrapper
    .overtitle Информация
    h2 Закупки
    p Предприятие осуществляет закупку б/у Рельс Р-65, Р-70 различной группы износа. Закупка ведётся на постоянной основе. Ваши предложения просим направлять на адрес электронной почты.