section.quality#quality
  .wrapper
    .overtitle Качество услуг
    h2 Высокие стандарты качества
    .columns.fadeIn
      .col-md-6
        .advantage
          .icon
            img(src='/images/icons/color-picking.svg?2')
          .text
            h3 Немецкое оборудование для цветоподбора #[span.nowrap от компании Spies Hecker]
            p Цвет подбираем с помощью спектрофотометра, компьютера и онлайн-базы, содержащей более #[span.nowrap 200 000] формул различных цветов
        .advantage
          .icon
            img(src='/images/icons/factory-quality.svg')
          .text
            h3 Краски и материалы как у автопроизводителей
            p Для покраски автомобилей мы применяем качественные материалы и краски, которые используются на заводах автопроизводителей.
      .col-md-6
        .advantage
          .icon
            img(src='/images/icons/little-thing.svg')
          .text
            h3 Уделяем внимание каждой мелочи
            p Не оставляем на автомобилях никаких следов и убираем за собой мусор. Одним словом, полностью подготавливаем автомобиль для вас перед выдачей.
        .advantage
          .icon
            img(src='/images/icons/quality.svg')
          .text
            h3 Более 1 000 отремонтированных автомобилей
            p За всё время работы нашего автосервиса мы отремонтировали и покрасили уже более 1 000 различных автомобилей