section.reviews#reviews
  .wrapper
    .max-width
      .overtitle Отзывы
      h2 Что про нас говорят
    .yandex
      .info
        .rows
          .row
            .logo
            .stars
            .rating
          .row
            .quantity
            a.view-all Смотреть все
        .arrows
      .container