section.reviews#reviews
  .wrapper
    .max-width
      .overtitle Что про нас говорят
      h2 Отзывы с DRIVE2.RU, Яндекса и Google
      p Отзывы подгружаются автоматически и являются честными и независимыми, так как нами никак не модерируются.
    .drive2.fadeIn
      .info
        .rows
          .row
            .logo
          .row
            .quantity
            a.view-all Смотреть все
        .arrows
      .container
    .yandex.fadeIn
      .info
        .rows
          .row
            .logo
            .stars
            .rating
          .row
            .quantity
            a.view-all Смотреть все
        .arrows
      .container
    .google.fadeIn
      .info
        .rows
          .row
            .logo
            .stars
              .filler
            .rating
          .row
            .quantity
            a.view-all Смотреть все
        .arrows
      .container