script(src="/libraries/jquery.min.js")
script(src="/libraries/jquery.fancybox.min.js")
script(src="/libraries/jquery.instagramFeed.min.js")
script(src="/libraries/owl.carousel.min.js")
script(type='module' src='/scripts/javascript/header.js')
script(type='module' src="/scripts/javascript/popups.js")
script(type='module' src="/scripts/javascript/animations.js")
//- script(type='module' src="/scripts/javascript/photos.js")
//- script(type='module' src="/scripts/javascript/reviews.js")
//- script(type='module' src="/scripts/javascript/spoilers.js")
//- script(type='module' src="/scripts/javascript/production.js?" + time)
//- script(type='module' src="/scripts/javascript/vacancies.js?" + time)
//- script(type='module' src="/scripts/javascript/production-request.js")