script(src="/libraries/jquery.min.js")
script(src="/libraries/jquery.fancybox.min.js")
script(src="/libraries/jquery.instagramFeed.min.js")
script(src="/libraries/owl.carousel.min.js")
script(src="/libraries/pannellum.js")
script(src="//widget.bronirui-online.ru/js/app.js")
script(type='module' src='/scripts/javascript/header.js?' + time)
script(type='module' src='/scripts/javascript/slider.js?' + time)
script(type='module' src="/scripts/javascript/popups.js?" + time)
script(type='module' src="/scripts/javascript/animations.js?" + time)
script(type='module' src="/scripts/javascript/booking.js?" + time)
script(type='module' src="/scripts/javascript/panorama.js?" + time)
script(type='module' src="/scripts/javascript/fixed-buttons.js?" + time)
script(type='module' src="/scripts/javascript/houses.js?" + time)
//- script(type='module' src="/scripts/javascript/photos.js")
//- script(type='module' src="/scripts/javascript/reviews.js")
//- script(type='module' src="/scripts/javascript/spoilers.js")
//- script(type='module' src="/scripts/javascript/production.js?" + time)
//- script(type='module' src="/scripts/javascript/vacancies.js?" + time)
//- script(type='module' src="/scripts/javascript/production-request.js")