section.services#services
  .wrapper
    .overtitle Чем заняться
    h2 Виды отдыха
    .subtitle Отдых в Московской области вдали от шумного города, в окружении леса и чистого воздуха.
    .columns.slideIn.each
      //- .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/skiing.jpg")
          .overlay
            .category Горнолыжный комплекс
            .text
              h3 Дмитровские альпы
              .subtitle Горнолыжная инфраструктура и курортные отели.
      //- .col-md-6.col-lg-8.col-xl-6
        .block
          img.image(src="/images/services/wild-west.jpg")
          .overlay
            .category Развлечения
            .text
              h3 Мир дикого запада
              .subtitle Улица в стиле дикого запада 1885 года из фильма «Назад в будущее 3», с тематическими отелями, барами и ресторанами.
      .col-md-6.col-lg-8.col-xl-3
        .block
          img.image(src="/images/services/buggy.jpg")
          .overlay
            .category Развлечения
            .text
              h3 Катание на багги
              .subtitle Уникальное решение для катания по грязевым и снежным трассам.
      .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/motobike.jpg")
          .overlay
            .category Развлечения
            .text
              h3 Катание на мотоцикле
              .subtitle Аренда мотоцикла для катания по лесу и ближайшим дорогам.
      .col-md-6.col-lg-8.col-xl-6
        .block
          img.image(src="/images/services/snowmobile-3.jpg")
          .overlay
            .category Развлечения
            .text
              h3 Катание на снегоходе
              .subtitle Cнегоход Arctic Cat M1100 Turbo, мощность 177 л.с., максимальная скорость 190 км/ч, 4-тактный двигатель 1100 см3 Turbo. Стоимость — 8 000 ₽ / час.
      .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/bike.jpg")
          .overlay
            .category Развлечения
            .text
              h3 Катание на велосипеде
              .subtitle Катание на прогулочном велосипеде по живописному лесу.
      .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/retromobile.jpg")
          .overlay
            .category Развлечения
            .text
              h3 Ретромобиль ГАЗ М-72
              .subtitle Катание на ретро автомобиле по ближайшей округе.
      //- .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/billiards.jpg")
          .overlay
            .category Игра
            .text
              h3 Бильярд
              .subtitle Помещения со столами для игры с бильярд.
      //- .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/paintball.jpg")
          .overlay
            .category Игра
            .text
              h3 Пейнтбол
              .subtitle Подготовленная площадка для игры в пейнтбол.
      //- .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/ping-pong.jpg")
          .overlay
            .category Спорт
            .text
              h3 Пинг-понг
              .subtitle Столы для игр в пинг-понг с соперник.
      //- .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/leco.jpg")
          .overlay
            .category Детям
            .text
              h3 Детская площадка LECO
              .subtitle Оборудованная детская площадка c ярким дизайном.
      //- .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/trampoline.jpg")
          .overlay
            .category Детям
            .text
              h3 Детский батут
              .subtitle На территории парка расположен большой детский батут.
      .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/accommodation/16.jpeg")
          .overlay
            .category Природа
            .text
              h3 Пешие прогулки
              .subtitle Семейная прогулка по лесным тропинкам.
      .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/fishing.jpg")
          .overlay
            .category Природа
            .text
              h3 Рыбалка в пруду
              .subtitle Близлежащий пруд, пригодный для летней и зимней рыбалки.
      //- .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/dogs.jpg")
          .overlay
            .category Клуб
            .text
              h3 Ретривер-клуб
              .subtitle Официальный ретривер клуб с лицензией для разведения и продажи щенят с паспортами.
      //- .col-md-6.col-lg-8.col-xl-6
        .block
          img.image(src="/images/services/thermal-pool.jpg")
          .overlay
            .category Плавание
            .text
              h3 Термальный бассейн
              .subtitle Бассейн с подогревом, доступный для купания круглый год (в том числе зимой).
