section.services#services
  .wrapper
    .max-width
      .overtitle Чем заняться
      h2 Виды отдыха
      .subtitle Отдых в Московской области вдали от шумного города, в окружении леса и чистого воздуха.
    .columns.slideIn.each
      //- .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/skiing.jpg")
          .overlay
            .category Горнолыжный комплекс
            .text
              h3 Дмитровские альпы
              .subtitle Горнолыжная инфраструктура и курортные отели.
      //- .col-md-6.col-lg-8.col-xl-6
        .block
          img.image(src="/images/services/wild-west.jpg")
          .overlay
            .category Развлечения
            .text
              h3 Мир дикого запада
              .subtitle Улица в стиле дикого запада 1885 года из фильма «Назад в будущее 3», с тематическими отелями, барами и ресторанами.
      .col-md-6.col-lg-8.col-xl-3
        a.block(data-fancybox data-src='#buggy')
          img.image(src="/images/services/buggy.jpg")
          .overlay
            .category Развлечения
            .text
              h3 Катание на багги
              .subtitle Уникальное решение для катания по грязевым и снежным трассам.
              .button-arrow Подробнее
      .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/motobike.jpg")
          .overlay
            .category Развлечения
            .text
              h3 Катание на мотоцикле
              .subtitle Аренда мотоцикла для катания по лесу и ближайшим дорогам.
      .col-md-6.col-lg-8.col-xl-6
        a.block(data-fancybox data-src='#snowmobile')
          img.image(src="/images/services/snowmobile-3.jpg")
          .overlay
            .category Развлечения
            .text
              h3 Катание на снегоходе
              .subtitle Cнегоход Arctic Cat M1100 Turbo, мощность 177 л.с., максимальная скорость 190 км/ч, 4-тактный двигатель 1100 см3 Turbo. Стоимость — 8 000 ₽ / час.
              .button-arrow Подробнее
      .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/bike.jpg")
          .overlay
            .category Развлечения
            .text
              h3 Катание на велосипеде
              .subtitle Катание на прогулочном велосипеде по живописному лесу.
      .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/retromobile.jpg")
          .overlay
            .category Развлечения
            .text
              h3 Ретромобиль ГАЗ М-72
              .subtitle Катание на ретро автомобиле по ближайшей округе.
      //- .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/billiards.jpg")
          .overlay
            .category Игра
            .text
              h3 Бильярд
              .subtitle Помещения со столами для игры с бильярд.
      //- .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/paintball.jpg")
          .overlay
            .category Игра
            .text
              h3 Пейнтбол
              .subtitle Подготовленная площадка для игры в пейнтбол.
      //- .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/ping-pong.jpg")
          .overlay
            .category Спорт
            .text
              h3 Пинг-понг
              .subtitle Столы для игр в пинг-понг с соперник.
      //- .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/leco.jpg")
          .overlay
            .category Детям
            .text
              h3 Детская площадка LECO
              .subtitle Оборудованная детская площадка c ярким дизайном.
      //- .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/trampoline.jpg")
          .overlay
            .category Детям
            .text
              h3 Детский батут
              .subtitle На территории парка расположен большой детский батут.
      .col-md-6.col-lg-4.col-xl-3
        a.block(data-fancybox data-src='#walking')
          img.image(src="/images/accommodation/16.jpeg")
          .overlay
            .category Природа
            .text
              h3 Пешие прогулки
              .subtitle Семейная прогулка по лесным тропинкам или просто поход за грибами.
              .button-arrow Подробнее
      .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/fishing.jpg")
          .overlay
            .category Природа
            .text
              h3 Рыбалка в пруду
              .subtitle Близлежащий пруд, пригодный для летней и зимней рыбалки.
      //- .col-md-6.col-lg-4.col-xl-3
        .block
          img.image(src="/images/services/dogs.jpg")
          .overlay
            .category Клуб
            .text
              h3 Ретривер-клуб
              .subtitle Официальный ретривер клуб с лицензией для разведения и продажи щенят с паспортами.
      //- .col-md-6.col-lg-8.col-xl-6
        .block
          img.image(src="/images/services/thermal-pool.jpg")
          .overlay
            .category Плавание
            .text
              h3 Термальный бассейн
              .subtitle Бассейн с подогревом, доступный для купания круглый год (в том числе зимой).
  .popup#buggy
    .overtitle Развлечения
    h2 Катание на багги
    img(src='/images/services/buggy.jpg')
    p Уникальный проект, который вы можете испытать только в нашем парке — полноприводный багги Draft Crawler V8 с мотором от BMW (мощностью 300 лошадиных сил) и монструозными колесами размером 44 дюйма.
    p Этот аппарат способен резво прокатить вас по полям Дмитровских угодий и подарить массу незабываемых эмоций!
    .columns
      .col-6
        a.photo(data-fancybox='buggy' data-src='/images/services/buggy/1.jpg')
          img(src='/images/services/buggy/1.jpg')
      .col-6
        a.photo(data-fancybox='buggy' data-src='/images/services/buggy/2.jpg')
          img(src='/images/services/buggy/2.jpg')
  .popup#snowmobile
    .overtitle Развлечения
    h2 Катание на снегоходе
    img(src='/images/services/snowmobile-3.jpg')
    p Cнегоход Arctic Cat M1100 Turbo с мощностью 177 л.с. и максимальной скоростью 190 км/ч. Имеет 4-тактный двигатель 1100 см3 Turbo.
    p Никогда выдаваемая двигателями мощь не была столь высока. Единственный серийный двигатель с турбонаддувом 1100 Turbo обеспечивает максимум мощности на любой высоте над уровнем моря. Вы не потеряете ни единой силы из выдаваемых 177 л.с.
    p Только у нас возможно арендовать снегоход такого класса.
    p Стоимость — 8 000 ₽ / час.
  .popup#walking
    .overtitle Природа
    h2 Пешие прогулки
    img(src='/images/accommodation/16.jpeg')
    p Вы всегда можете выйти из домика на прогулку по тихому лесу, как одному, так и вдвоем, или даже с детьми.
    p На пути встречаются различные проявления природы — скопления грибов, естественные ручьи или гнезда птиц. Всё это делает прогулку по лесу абсолютно уникальной для вас.
    .columns
      .col-4
        a.photo(data-fancybox='walking' data-src='/images/services/walking/1.jpeg')
          img(src='/images/services/walking/1.jpeg')
      .col-4
        a.photo(data-fancybox='walking' data-src='/images/services/walking/2.jpeg')
          img(src='/images/services/walking/2.jpeg')
      .col-4
        a.photo(data-fancybox='walking' data-src='/images/services/walking/3.jpeg')
          img(src='/images/services/walking/3.jpeg')
      .col-4
        a.photo(data-fancybox='walking' data-src='/images/services/walking/4.jpeg')
          img(src='/images/services/walking/4.jpeg')
      .col-4
        a.photo(data-fancybox='walking' data-src='/images/services/walking/5.jpeg')
          img(src='/images/services/walking/5.jpeg')
      .col-4
        a.photo(data-fancybox='walking' data-src='/images/services/walking/6.jpeg')
          img(src='/images/services/walking/6.jpeg')
      .col-4
        a.photo(data-fancybox='walking' data-src='/images/services/walking/7.jpeg')
          img(src='/images/services/walking/7.jpeg')
      .col-4
        a.photo(data-fancybox='walking' data-src='/images/services/walking/8.jpeg')
          img(src='/images/services/walking/8.jpeg')
      .col-4
        a.photo(data-fancybox='walking' data-src='/images/services/walking/9.jpeg')
          img(src='/images/services/walking/9.jpeg')
      .col-4
        a.photo(data-fancybox='walking' data-src='/images/services/walking/10.jpeg')
          img(src='/images/services/walking/10.jpeg')
      .col-4
        a.photo(data-fancybox='walking' data-src='/images/services/walking/11.jpeg')
          img(src='/images/services/walking/11.jpeg')
      .col-4
        a.photo(data-fancybox='walking' data-src='/images/services/walking/12.jpeg')
          img(src='/images/services/walking/12.jpeg')
      .col-4
        a.photo(data-fancybox='walking' data-src='/images/services/walking/13.jpeg')
          img(src='/images/services/walking/13.jpeg')
      .col-4
        a.photo(data-fancybox='walking' data-src='/images/services/walking/14.jpeg')
          img(src='/images/services/walking/14.jpeg')
      .col-4
        a.photo(data-fancybox='walking' data-src='/images/services/walking/15.jpeg')
          img(src='/images/services/walking/15.jpeg')
      .col-4
        a.photo(data-fancybox='walking' data-src='/images/services/walking/16.jpeg')
          img(src='/images/services/walking/16.jpeg')
      .col-4
        a.photo(data-fancybox='walking' data-src='/images/services/walking/9.jpeg')
          img(src='/images/services/walking/9.jpeg')
      .col-4
        a.photo(data-fancybox='walking' data-src='/images/dogs/20.jpeg')
          img(src='/images/dogs/20.jpeg')
      .col-4
        a.photo(data-fancybox='walking' data-src='/images/dogs/21.jpeg')
          img(src='/images/dogs/21.jpeg')
      .col-4
        a.photo(data-fancybox='walking' data-src='/images/dogs/22.jpeg')
          img(src='/images/dogs/22.jpeg')
      .col-4
        a.photo(data-fancybox='walking' data-src='/images/dogs/23.jpeg')
          img(src='/images/dogs/23.jpeg')
