section.slider#slider
  .background
    .owl-carousel
      img(src='/images/accommodation/27.jpeg')
      img(src='/images/accommodation/1.jpeg')
      img(src='/images/accommodation/28.jpeg')
      img(src='/images/accommodation/7.jpeg')
      img(src='/images/accommodation/12.jpeg')
      img(src='/images/accommodation/10.jpeg')
      img(src='/images/accommodation/21.jpeg')
  .wrapper.slideIn.each
    h1 Тихий отдых в стеклянном доме #[span.nowrap вдали от города]
    .subtitle В окружении леса и чистого воздуха. #[br] Голосовое управление домом через Алису. #[br] Быстрый интернет до 150 Мбит/сек.
    .buttons
      a.button(href='/accommodation') Подробнее
    .leitmotif Затерянность ощути как счастье...