section.slider#slider
  .background
    .owl-carousel
      img(src='/images/main.jpeg')
  .wrapper.slideIn.each
    h1 Park Sever — эстетика отдыха человека и природы
    .subtitle Волнующий #[br] Беспрецедентно инновационный
    .buttons
      a.button(href='/accommodation') Подробнее
    .leitmotif Затерянность ощути как счастье...