section.slider#slider
  .background
    img.image-desktop(src='/images/main.jpeg')
    img.image-mobile(src='/images/main-mobile.jpeg')
  .wrapper.slideIn.each
    h1 #[span Park Sever] – эстетика отдыха человека на природе
    .subtitle
      a(href="#" onclick="document.querySelector('#main-menu').scrollIntoView({ behavior: 'smooth' })") Волнующий
      br
      a(href='#' onclick="document.querySelector('#advantages').scrollIntoView({ behavior: 'smooth' })") Беспрецедентно инновационный
    //- .leitmotif Затерянность ощути как счастье...
section.booking
  .container
    #znms-widget-1