section.slider#slider
  .background
    .owl-carousel
      img(src='/images/main.jpeg')
  .wrapper.slideIn.each
    h1 #[span Park Sever] – эстетика отдыха человека и природы
    .subtitle
      a(href="#" onclick="document.querySelector('#main-menu').scrollIntoView({ behavior: 'smooth' })") Волнующий
      br
      a(href='#' onclick="document.querySelector('#advantages-2').scrollIntoView({ behavior: 'smooth' })") Беспрецедентно инновационный
    //- .leitmotif Затерянность ощути как счастье...
section.booking
  #znms-widget-1