section.slider#slider
  .wrapper.slideIn.each
    h1 Тихий отдых в стеклянном доме #[span.nowrap вдали от города]
    .subtitle В окружении хвойного леса и чистого воздуха. #[br] Головое управление домом через Алису. #[br] Быстрый интернет 150 Мбит/сек.
    .buttons
      a.button(href='/accommodation') Подробнее