section.slider#slider
  .wrapper.slideIn.each
    h1 Тихий отдых в стеклянном доме #[span.nowrap вдали от города]
    .subtitle В окружении хвойного леса и чистого воздуха. #[br] Управление домами со смартфона.
    .buttons
      a.button(href='mailto:info@zgm96.ru') Подробнее