section.special-offers
  .wrapper
    .max-width
      .overtitle Акции
      h2 Специальные предложения
    ul
      li Проживание от 2х суток со скидкой 10%;
      li Проживание от 3х суток и более со скидкой 15%;
      li При раннем бронировании стоимость до 20% ниже.
