section.technology#technology
  .wrapper
    .overtitle Как происходит ремонт
    h2 Описание технологии
    .columns.fadeIn
      .col-md-9
        h3 Для чего вообще нужен ремонт?
        p На кузове или лакокрасочном покрытии (ЛКП) автомобиля из-за разных причин, например, из-за агрессивного воздействия окружающей среды, дорожно-транспортных происшествий, погодных условий, и прочего, могут появиться повреждения — сколы, царапины, вмятины, или даже трещины.
        p Любой владелец автомобиля хотел бы устранить эти недостатки. В таких случаях мы и нужны, так как наш автосервис специализируется на оказании услуг кузовного ремонта и покраски.
      //- .col-md-6
        .image
          img(src='/images/photo-1.jpg')
    .columns.fadeIn
      .col-md-8
        h3 Что представляет из себя кузовной ремонт?
        p Кузовной ремонт необходим в тех случаях, когда одна или несколько кузовных деталей вашего автомобиля помяты, имеют трещины, глубокие царапины, порезы или иные повреждения.
        p Специально обученный мастер-жестянщик работает с кузовом вашего автомобиля и восстанавливает целостность каждой повреждённой детали, применяя грунтовку, рихтовку, окрашивание, полировку и другие необходимые методы.
      //- .col-md-6
        .image
          img(src='/images/photo-2.jpg')
    //- .columns.fadeIn
      .col-md-6
        h3 Что представляет из себя локальный ремонт?
        p Ранее незначительные повреждения кузова устранялись путем полного перекрашивания детали, что часто требовало её снятия и повторной установки.
        p Теперь же справиться с подобными недочётами можно не снимая деталь. Это стало возможным благодаря #[a(href='https://kuzov.info/bazovye-znaniya-pdr-tekhnologii/' target='_blank') технологии PDR] (с англ. Paintless Dent Removal — удаление вмятин без покраски). Она заключается в локальном выпрямлении металла с помощью специальных инструментов и возвращении ему первоначального вида.
      .col-md-6
        .image
          img(src='/images/photo-2.jpg')
    .columns.fadeIn
      .col-md-7
        h3 А как происходит покраска?
        //- p Покраска необходима в тех случаях, когда на детали имеются ещё и царапины, сколы или иные повреждения ЛКП. Однако 
        p Если повреждён лишь небольшой участок (не более 30-40% от общей площади детали), мы выполняем покраску локально. 
        p Это означает, что красится не вся деталь, а лишь повреждённый её участок. При этом от нового лакокрасочного покрытия образуется плавный и незаметный переход к старому. 
      //- .col-md-6
        .image
          img(src='/images/photo-3.jpg')
    .fadeIn
      a.button-simple(href='#equipment') Читать про оборудование