section.territory#territory
  .wrapper
    .max-width
      .overtitle Природа
      h2 Про территорию
    .columns
      .col-md-6
        p Территория Парка Север граничит с огромными лесными кварталами Дмитровского лесничества. Оставив позади населенные пункты, окружите себя счастьем Затерянности на природе от мира суматохи мегаполисов. 
        p В тени могучих деревьев Вы прогуляетесь среди берез, елей и сосен. В глубине леса, протекает небольшая живописная речка – Лесминка. А летом еще и можно полакомится дикой малиной и земляникой. 
        p Осень встречает парк активным сезоном «тихой охоты», когда «охота» (сбор грибов) начинается, не выходя из Стеклянных гостевых домов – подберезовики и подосиновики растут у порога дома. 
      .col-md-6
        p Зима, пожалуй, самый насыщенный красотой сезон! Невероятные вид мерцающего снега, красота застывших на морозе деревьев, порой их северная суровость, явное присутствие диких животных – следы лосей и зайцев (и кого-то еще!), не оставят никого равнодушными. 
        p А долгожданная весна, после зимних метелей, не нуждается в описании своего тепла и жизнерадостности, когда один вид на набухшие почки у деревьев под теплым солнечным светом, окрыляет сердце!
    video(src='/videos/territory.mov' poster='/images/territory/poster.jpg' autoplay loop muted playsinline)
    .columns.slideIn.each
      .col-8.col-sm-6.col-lg-4
        a.photo(data-fancybox="territory" href='/images/territory/1.jpg')
          img(src='/images/territory/1.jpg')
      .col-4.col-sm-6.col-lg-4
        a.photo(data-fancybox="territory" href='/images/territory/2.jpg')
          img(src='/images/territory/2.jpg')
      .col-4.col-sm-3.col-lg-2
        a.photo(data-fancybox="territory" href='/images/territory/3.jpg')
          img(src='/images/territory/3.jpg')
      .col-8.col-sm-3.col-lg-2
        a.photo(data-fancybox="territory" href='/images/territory/4.jpg')
          img(src='/images/territory/4.jpg')
      .col-4.col-sm-6.col-lg-4
        a.photo(data-fancybox="territory" href='/images/territory/5.jpg')
          img(src='/images/territory/5.jpg')
      .col-4.col-sm-3.col-lg-2
        a.photo(data-fancybox="territory" href='/images/territory/6.jpg')
          img(src='/images/territory/6.jpg')
      .col-4.col-sm-6.col-lg-4
        a.photo(data-fancybox="territory" href='/images/territory/7.jpg')
          img(src='/images/territory/7.jpg')
      .col-4.col-sm-3.col-lg-2
        a.photo(data-fancybox="territory" href='/images/territory/8.jpg')
          img(src='/images/territory/8.jpg')
      .col-8.col-sm-6.col-lg-4
        a.photo(data-fancybox="territory" href='/images/territory/9.jpg')
          img(src='/images/territory/9.jpg')
      .col-4.col-sm-3.col-lg-2
        a.photo(data-fancybox="territory" href='/images/territory/10.jpg')
          img(src='/images/territory/10.jpg')
      .col-8.col-sm-6.col-lg-4
        a.photo(data-fancybox="territory" href='/images/territory/11.jpg')
          img(src='/images/territory/11.jpg')