section.territory#territory
  .wrapper
    .overtitle Природа
    h2 Про территорию
    .columns
      .col-md-6
        p Участок проектирования с запада и юго-запада граничит с лесными кварталами  Дмитровского лесничества. Лесные массивы представлены осиново-берёзовыми видами с елью, сосной, дубом, ольхой и рябиной папоротниково-щучково-широкотравными лесами с таёжными и влаголюбивыми лугово-лесными видами, малиной, крушиной и бузиной.
      .col-md-6
        p Непосредственно на территории древесная растительность представлена березами и ее порослью, травяная растительность - разнотравно-злаковыми ассоциациями с преобладанием луговых цветов и трав. 
    .columns.photos
      .col-6
        a.photo(data-fancybox="territory" data-src='/images/territory/1.jpg')
          img(src='/images/territory/1.jpg')
      .col-6
        a.photo(data-fancybox="territory" data-src='/images/territory/2.jpg')
          img(src='/images/territory/2.jpg')
      //- .col-6.col-md-3
      //-   a.photo(data-fancybox="territory" data-src='/images/territory/3.jpg')
      //-     img(src='/images/territory/3.jpg')
      //- .col-6.col-md-3
      //-   a.photo(data-fancybox="territory" data-src='/images/territory/4.jpg')
      //-     img(src='/images/territory/4.jpg')
    video(src='/videos/territory.mov' poster='/images/territory/poster.jpg' autoplay loop muted playsinline)