section.under-construction#under-construction
  .wrapper
    .columns.fadeIn
      .col-sm-3
      .col-sm-6
        img(src="/images/logo.png")
        .overtitle Внимание
        h2 На сайте ведутся технические работы
        p В данный момент сайт «Завода горного машиностроения» недоступен, так как на нём проводятся технические работы. Приносим извинения за неудобства.
      .col-sm-3