section.welcome#welcome
  .wrapper
    .block
      h2 Приветствуем Вас в Парк-отеле Север
      .columns
        .col-lg-4
          .text-1
            p Наши только что построенные дома интуитивно спроектированы для комфорта, успокоения, удовольствия и волнения, представляют собой оазис спокойствия за границами шумного города. Поблизости нет и не будет жилых построек.
          .text-2
            p Проснитесь и насладитесь захватывающими видами. 
            p Почувствуйте себя как дома, зная, что все, что вам нужно и чего вы хотите находится у вашего порога.
          .text-3
            p Поразительная эстетика, демонстративно стирает грань между искусством, архитектурой и природой. 
            p Насладитесь беспрецедентным комфортом с исключительным сервисом в наших стеклянных домах, где каждая деталь, продуманная до мелочей, шепчет снисходительность.
            a.button-arrow(href='/accommodation/house-1') Подробнее
        .col-lg-8
          .images
            img.image-1(src='/images/welcome/1.jpg?3')    
            img.image-2(src='/images/welcome/2.jpg?3')
            img.image-3(src='/images/welcome/3.jpg?3')