extends /layout

append variables
  - var transparentHeader = true
  - var seoTitle = 'Эко-отель «Парк Север» | Официальный сайт'

block body
  include /slider
  include /welcome
  include /description
  include /advantages
  include /advantages-2
  include /main-menu
  include /about
  //- include /reservation
  //- include /services
  //- include /quality
  //- include /technology
  //- include /prices
  //- include /equipment
  //- include /reviews
  //- include /brands
  //- include /photos
  //- include /faq
  //- include /chat
  include /contact