extends /layout

append variables
  - var seoTitle = 'Эко-отель «Север Парк» | Официальный сайт'

block body
  include /slider
  include /reservation
  include /about
  include /services
  include /accommodation
  //- include /quality
  //- include /technology
  //- include /prices
  //- include /equipment
  //- include /advantages
  //- include /reviews
  //- include /brands
  //- include /photos
  //- include /faq
  //- include /chat