extends /layout

append variables
  - var transparentHeader = true
  - var seoTitle = 'Эко-отель «Парк Север» | Официальный сайт'

block body
  #fullpage
    .section
      include /slider
    .section
      include /welcome
    //- include /description
    //- include /advantages-old
    .section
      include /main-menu
    .section
      include /advantages
    .section
      include /about
    //- include /reservation
    //- include /services
    //- include /quality
    //- include /technology
    //- include /prices
    //- include /equipment
    .section
      include /reviews
    //- include /brands
    //- include /photos
    //- include /faq
    //- include /chat
    .section
      include /contact
    .section
      include /map