extends /layout

append variables
  - var category = 'Услуги'
  - var title = 'Проживание'
  - var subtitle = 'Стеклянный гостевой домик вдали от городской суеты и забот. Оборудован современной мебелью и удобной кухней, имеет голосовое управление через Алису и высокоскоростной интернет до 150 Мбит/сек.'
  - var path = {};

block body
  include /main
  include /house
  include /photos
  include /features
  include /entertainment
  include /about
  include /contact