extends /layout

append variables
  - var category = 'Раздел'
  - var title = 'Продукция'
  - var path = {};

block body
  include /main
  section.production
    .wrapper
      .overtitle Таблица
      h2 Склад готовой продукции
      .loading-icon
      .table
        .x-scroll
          table